In [1]:
# Libraries to work with dataframe
import json
import pandas as pd
import numpy as np
# Libraries for datetime
import datetime as dt
# Libraries for EDA
import matplotlib as plt
import seaborn as sns
# Libraries for ML
from sklearn import linear_model, datasets

#### Load and explore raw data
- Load the raw data csv file into a dataframe
- Explore the datatype to plan for cleaning

In [2]:
# Load the data
df_raw=pd.read_csv (r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Raw_data/P_job_midterm_project /P_job_raw.csv',
                   sep=",",
                   encoding='mac_roman'
                )
# Check dataset
df_raw.tail(10)

,Time,Time Code,Country Name,Country Code,CPIA economic management cluster average (1=low to 6=high) [IQ.CPA.ECON.XQ],CPIA financial sector rating (1=low to 6=high) [IQ.CPA.FINS.XQ],CPIA macroeconomic management rating (1=low to 6=high) [IQ.CPA.MACR.XQ],"Automated teller machines (ATMs) (per 100,000 adults) [FB.ATM.TOTL.P5]","Borrowers from commercial banks (per 1,000 adults) [FB.CBK.BRWR.P3]",Depth of credit information index (0=low to 8=high) [IC.CRD.INFO.XQ],...,Exports of goods and services (annual % growth) [NE.EXP.GNFS.KD.ZG],"Foreign direct investment, net inflows (% of GDP) [BX.KLT.DINV.WD.GD.ZS]","Foreign direct investment, net outflows (% of GDP) [BM.KLT.DINV.WD.GD.ZS]",Fuel exports (% of merchandise exports) [TX.VAL.FUEL.ZS.UN],High-technology exports (% of manufactured exports) [TX.VAL.TECH.MF.ZS],ICT goods imports (% total goods imports) [TM.VAL.ICTG.ZS.UN],Imports of goods and services (% of GDP) [NE.IMP.GNFS.ZS],"Personal remittances, paid (current US$) [BM.TRF.PWKR.CD.DT]","Personal transfers, receipts (BoP, current US$) [BX.TRF.PWKR.CD]","Taxes on income, profits and capital gains (% of total taxes) [GC.TAX.YPKG.ZS]"
981,2000,YR2000,Hungary,HUN,..,..,..,..,..,..,...,24.9454217285782,5.80781299008691,1.21044600177954,1.60609435461598,26.5342860911457,20.206756845,70.3129136213028,69612445.1535443,..,34.0716121075514
982,2000,YR2000,Portugal,PRT,..,..,..,..,..,..,...,8.44034829595977,6.1620147117716,7.42972147793055,2.26132259447526,6.2290944251493,7.726781181,39.2325333868675,203167823.559065,..,41.1872945295278
983,2000,YR2000,Romania,ROU,..,..,..,..,..,..,...,23.1800553765766,2.76987387312012,-0.0293814972076387,7.16272020298794,5.87019285287008,9.8581601173,37.9970298479366,6000000,2000000,35.2550423349625
984,2000,YR2000,South Africa,ZAF,..,..,..,..,..,..,...,8.31374400600072,0.710485610011465,0.203266975053682,10.0396787330964,7.00087587595807,12.291570053,24.2788939094856,614277481.871135,..,57.1033317655537
985,2000,YR2000,"Egypt, Arab Rep.",EGY,..,..,..,..,..,..,...,3.79506625508751,1.23699720670391,0.0510824757424287,41.9072027700124,0.309977485556606,4.1712812207,22.8168185827698,32000000,2852000000,..
986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,Data from database: Jobs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,Last Updated: 06/29/2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Clean the empty bottom
df_raw= df_raw.iloc[0:986]
df_raw.tail()

,Time,Time Code,Country Name,Country Code,CPIA economic management cluster average (1=low to 6=high) [IQ.CPA.ECON.XQ],CPIA financial sector rating (1=low to 6=high) [IQ.CPA.FINS.XQ],CPIA macroeconomic management rating (1=low to 6=high) [IQ.CPA.MACR.XQ],"Automated teller machines (ATMs) (per 100,000 adults) [FB.ATM.TOTL.P5]","Borrowers from commercial banks (per 1,000 adults) [FB.CBK.BRWR.P3]",Depth of credit information index (0=low to 8=high) [IC.CRD.INFO.XQ],...,Exports of goods and services (annual % growth) [NE.EXP.GNFS.KD.ZG],"Foreign direct investment, net inflows (% of GDP) [BX.KLT.DINV.WD.GD.ZS]","Foreign direct investment, net outflows (% of GDP) [BM.KLT.DINV.WD.GD.ZS]",Fuel exports (% of merchandise exports) [TX.VAL.FUEL.ZS.UN],High-technology exports (% of manufactured exports) [TX.VAL.TECH.MF.ZS],ICT goods imports (% total goods imports) [TM.VAL.ICTG.ZS.UN],Imports of goods and services (% of GDP) [NE.IMP.GNFS.ZS],"Personal remittances, paid (current US$) [BM.TRF.PWKR.CD.DT]","Personal transfers, receipts (BoP, current US$) [BX.TRF.PWKR.CD]","Taxes on income, profits and capital gains (% of total taxes) [GC.TAX.YPKG.ZS]"
981,2000,YR2000,Hungary,HUN,..,..,..,..,..,..,...,24.9454217285782,5.80781299008691,1.21044600177954,1.60609435461598,26.5342860911457,20.206756845,70.3129136213028,69612445.1535443,..,34.0716121075514
982,2000,YR2000,Portugal,PRT,..,..,..,..,..,..,...,8.44034829595977,6.1620147117716,7.42972147793055,2.26132259447526,6.2290944251493,7.726781181,39.2325333868675,203167823.559065,..,41.1872945295278
983,2000,YR2000,Romania,ROU,..,..,..,..,..,..,...,23.1800553765766,2.76987387312012,-0.0293814972076387,7.16272020298794,5.87019285287008,9.8581601173,37.9970298479366,6000000,2000000,35.2550423349625
984,2000,YR2000,South Africa,ZAF,..,..,..,..,..,..,...,8.31374400600072,0.710485610011465,0.203266975053682,10.0396787330964,7.00087587595807,12.291570053,24.2788939094856,614277481.871135,..,57.1033317655537
985,2000,YR2000,"Egypt, Arab Rep.",EGY,..,..,..,..,..,..,...,3.79506625508751,1.23699720670391,0.0510824757424287,41.9072027700124,0.309977485556606,4.1712812207,22.8168185827698,32000000,2852000000,..

In [4]:
# Too many columns to display info
#df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Columns: 122 entries, Time to Taxes on income, profits and capital gains (% of total taxes) [GC.TAX.YPKG.ZS]
dtypes: float64(32), object(90)
memory usage: 939.9+ KB

#### Quick Clean of the raw data
- Convert '..' to 0 for analysis
- Convert 'number' object into float 
- Convert time in to datetime object

In [4]:
# Replace blank with 0 to convert data float
df_raw = df_raw.replace('..', 0)

# Convert column 5 to 108 from object to float
#df_raw.iloc[:, 5:108]=df_raw.iloc[:, 5:108].astype(float) 
df_raw.iloc[:, 5:123]= df_raw.iloc[:, 5:123].apply(pd.to_numeric, errors='coerce')


# Convert df["Time"] to datetime object
df_raw["Time"] = pd.to_datetime(df_raw["Time"].astype(str), format="%Y", errors='coerce')
df_raw.head()

/var/folders/4c/r7kxsc7j67gd7wlqt50rmb100000gn/T/ipykernel_37610/2303133698.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_raw.iloc[:, 5:123]= df_raw.iloc[:, 5:123].apply(pd.to_numeric, errors='coerce')

,Time,Time Code,Country Name,Country Code,CPIA economic management cluster average (1=low to 6=high) [IQ.CPA.ECON.XQ],CPIA financial sector rating (1=low to 6=high) [IQ.CPA.FINS.XQ],CPIA macroeconomic management rating (1=low to 6=high) [IQ.CPA.MACR.XQ],"Automated teller machines (ATMs) (per 100,000 adults) [FB.ATM.TOTL.P5]","Borrowers from commercial banks (per 1,000 adults) [FB.CBK.BRWR.P3]",Depth of credit information index (0=low to 8=high) [IC.CRD.INFO.XQ],...,Exports of goods and services (annual % growth) [NE.EXP.GNFS.KD.ZG],"Foreign direct investment, net inflows (% of GDP) [BX.KLT.DINV.WD.GD.ZS]","Foreign direct investment, net outflows (% of GDP) [BM.KLT.DINV.WD.GD.ZS]",Fuel exports (% of merchandise exports) [TX.VAL.FUEL.ZS.UN],High-technology exports (% of manufactured exports) [TX.VAL.TECH.MF.ZS],ICT goods imports (% total goods imports) [TM.VAL.ICTG.ZS.UN],Imports of goods and services (% of GDP) [NE.IMP.GNFS.ZS],"Personal remittances, paid (current US$) [BM.TRF.PWKR.CD.DT]","Personal transfers, receipts (BoP, current US$) [BX.TRF.PWKR.CD]","Taxes on income, profits and capital gains (% of total taxes) [GC.TAX.YPKG.ZS]"
0,2016-01-01,YR2016,Algeria,DZA,0,0.0,0.0,8.668604,39.065192,0,...,7.900000,1.029475,0.029423,93.992128,0.343524,5.181022,35.270284,5.897023e+07,1.696801e+07,0.000000
1,2016-01-01,YR2016,Argentina,ARG,0,0.0,0.0,60.103738,393.196312,8,...,5.292669,0.587564,0.321978,2.532451,8.792815,8.478812,13.538081,8.235657e+08,3.526393e+08,21.864873
2,2016-01-01,YR2016,Australia,AUS,0,0.0,0.0,168.028316,0.000000,7,...,6.865286,3.524720,-0.207303,27.653921,14.781559,9.997245,21.518447,6.309637e+09,0.000000e+00,71.668280
3,2016-01-01,YR2016,Austria,AUT,0,0.0,0.0,116.058589,0.000000,7,...,1.915409,-7.663361,-7.325377,1.705898,17.574765,7.449426,48.905179,4.523562e+09,3.008084e+08,46.083584
4,2016-01-01,YR2016,Belgium,BEL,0,0.0,0.0,88.227548,698.712686,5,...,7.517204,7.916496,6.142702,6.825841,12.536063,3.003773,81.606927,3.890063e+09,7.971687e+07,54.611886

## Split the main dataframe (df) into smaller data frame for analysis
- The data set included world employment info graphic from the top 50 contributor to world economy (https://www.theglobaleconomy.com/rankings/gdp_share/)
- There are 108 columns of data with 850 rows of information generate byt the top 50 country that contribute to world economy. 
- Splitting data base on genders and total population data.

#### Create a dataframe of general population
- Create df_population by filter and drop columns in df_raw that contain the word 'male'

In [5]:
# Create df_population by dropping all column with 'male'
df_population=df_raw.drop(columns=[column for column in df_raw.columns if "male" in column])

df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 92 columns):
 #   Column                                                                                                                    Non-Null Count  Dtype
---  ------                                                                                                                    --------------  -----
 0   Time                                                                                                                      986 non-null    datetime64[ns]
 1   Time Code                                                                                                                 986 non-null    object
 2   Country Name                                                                                                              986 non-null    object
 3   Country Code                                                                                                              986 non-null    object
 4   CPIA economic management cluster average (1=low to 6=high) [IQ.CPA.ECON.XQ]                                               986 non-null    object
 5   CPIA financial sector rating (1=low to 6=high) [IQ.CPA.FINS.XQ]                                                           986 non-null    float64
 6   CPIA macroeconomic management rating (1=low to 6=high) [IQ.CPA.MACR.XQ]                                                   986 non-null    float64
 7   Automated teller machines (ATMs) (per 100,000 adults) [FB.ATM.TOTL.P5]                                                    986 non-null    float64
 8   Borrowers from commercial banks (per 1,000 adults) [FB.CBK.BRWR.P3]                                                       986 non-null    float64
 9   Depth of credit information index (0=low to 8=high) [IC.CRD.INFO.XQ]                                                      986 non-null    int64
 10  Domestic credit provided by financial sector (% of GDP) [FS.AST.DOMS.GD.ZS]                                               986 non-null    float64
 11  Domestic credit to private sector (% of GDP) [FS.AST.PRVT.GD.ZS]                                                          986 non-null    float64
 12  Market capitalization of listed companies (% of GDP) [CM.MKT.LCAP.GD.ZS]                                                  986 non-null    float64
 13  Private credit bureau coverage (% of adults) [IC.CRD.PRVT.ZS]                                                             986 non-null    float64
 14  Public credit registry coverage (% of adults) [IC.CRD.PUBL.ZS]                                                            986 non-null    float64
 15  Informal payments to public officials (% of firms) [IC.FRM.CORR.ZS]                                                       986 non-null    float64
 16  Number of visits or required meetings with tax officials [IC.TAX.METG]                                                    986 non-null    float64
 17  CPIA policies for social inclusion/equity cluster average (1=low to 6=high) [IQ.CPA.SOCI.XQ]                              986 non-null    float64
 18  CPIA property rights and rule-based governance rating (1=low to 6=high) [IQ.CPA.PROP.XQ]                                  986 non-null    float64
 19  CPIA gender equality rating (1=low to 6=high) [IQ.CPA.GNDR.XQ]                                                            986 non-null    float64
 20  New business density (new registrations per 1,000 people ages 15-64) [IC.BUS.NDNS.ZS]                                     986 non-null    float64
 21  Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.ZS]            986 non-null    float64
 22  Labor force, total [SL.TLF.TOTL.IN]                                                                                       986 non-null    float64
 23  Total employment, total (ages 15+) [SL.EMP.TOTL]                                                                          986 non-null    float64
 24  Unemployment with advanced education (% of total labor force with advanced education) [SL.UEM.ADVN.ZS]                    986 non-null    float64
 25  Unemployment with intermediate education (% of total labor force with intermediate education) [SL.UEM.INTM.ZS]            986 non-null    float64
 26  Unemployment, total (% of total labor force) (modeled ILO estimate) [SL.UEM.TOTL.ZS]                                      986 non-null    float64
 27  Unemployment, youth total (% of total labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.ZS]                     986 non-null    float64
 28  Literacy rate, adult total (% of people ages 15 and above) [SE.ADT.LITR.ZS]                                               986 non-null    float64
 29  Literacy rate, youth total (% of people ages 15-24) [SE.ADT.1524.LT.ZS]                                                   986 non-null    float64
 30  Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]                                                 986 non-null    float64
 31  Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS]          986 non-null    float64
 32  Labor force with basic education (% of total working-age population with basic education) [SL.TLF.BASC.ZS]                986 non-null    float64
 33  Labor force with intermediate education (% of total working-age population with intermediate education) [SL.TLF.INTM.ZS]  986 non-null    float64
 34  Primary completion rate, total (% of relevant age group) [SE.PRM.CMPT.ZS]                                                 986 non-null    float64
 35  School enrollment, primary (% gross) [SE.PRM.ENRR]                                                                        986 non-null    float64
 36  School enrollment, secondary (% gross) [SE.SEC.ENRR]                                                                      986 non-null    float64
 37  School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]                                       986 non-null    float64
 38  School enrollment, tertiary (% gross) [SE.TER.ENRR]                                                                       986 non-null    float64
 39  School enrollment, tertiary (gross), gender parity index (GPI) [SE.ENR.TERT.FM.ZS]                                        986 non-null    float64
 40  Individuals using the Internet (% of population) [IT.NET.USER.ZS]                                                         986 non-null    float64
 41  Research and development expenditure (% of GDP) [GB.XPD.RSDV.GD.ZS]                                                       986 non-null    float64
 42  Researchers in R&D (per million people) [SP.POP.SCIE.RD.P6]                                                               986 non-null    float64
 43  Technicians in R&D (per million people) [SP.POP.TECH.RD.P6]                                                               986 non-null    float64
 44  Age dependency ratio (% of working-age population) [SP.POP.DPND]                                                          986 non-null    float64
 45  International migrant stock (% of population) [SM.POP.TOTL.ZS]                                                            986 non-null    float64
 46  Population ages 0-14 (% of total) [SP.POP.0014.TO.ZS]                                                                     986 non-null    float64
 47  Population ages 0-14, total [SP.POP.0014.TO]                                                                              986 non-null    float64
 48  Population ages 15-64 (% of total) [SP.POP.1564.TO.ZS]                                                                    986 non-null    float64
 49  Population ages 15-64, total [SP.POP.1564.TO]                                                                             986 non-null    float64
 50  Population ages 65 and above (% of total) [SP.POP.65UP.TO.ZS]                                                             986 non-null    float64
 51  Population ages 65 and above, total [SP.POP.65UP.TO]                                                                      986 non-null    float64
 52  Population density (people per sq. km of land area) [EN.POP.DNST]                                                         986 non-null    float64
 53  Population growth (annual %) [SP.POP.GROW]                                                                                986 non-null    float64
 54  Population, total [SP.POP.TOTL]                                                                                           986 non-null    float64
 55  Rural population [SP.RUR.TOTL]                                                                                            986 non-null    float64
 56  Rural population (% of total population) [SP.RUR.TOTL.ZS]                                                                 986 non-null    float64
 57  Urban population [SP.URB.TOTL]                                                                                            986 non-null    float64
 58  Urban population (% of total) [SP.URB.TOTL.IN.ZS]                                                                         986 non-null    float64
 59  Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population) [SI.POV.DDAY]                                         986 non-null    float64
 60  Agriculture, value added (% of GDP) [NV.AGR.TOTL.ZS]                                                                      986 non-null    float64
 61  Agriculture, value added (annual % growth) [NV.AGR.TOTL.KD.ZG]                                                            986 non-null    float64
 62  Agriculture, value added (constant 2005 US$) [NV.AGR.TOTL.KD]                                                             986 non-null    float64
 63  Consumer price index (2010 = 100) [FP.CPI.TOTL]                                                                           986 non-null    float64
 64  GDP growth (annual %) [NY.GDP.MKTP.KD.ZG]                                                                                 986 non-null    float64
 65  GDP per capita (constant 2005 US$) [NY.GDP.PCAP.KD]                                                                       986 non-null    float64
 66  GDP per capita, PPP (constant 2011 international $) [NY.GDP.PCAP.PP.KD]                                                   986 non-null    float64
 67  GDP per person employed (constant 1990 PPP $) [SL.GDP.PCAP.EM.KD]                                                         986 non-null    float64
 68  Gross capital formation (% of GDP) [NE.GDI.TOTL.ZS]                                                                       986 non-null    float64
 69  Gross capital formation (annual % growth) [NE.GDI.TOTL.KD.ZG]                                                             986 non-null    float64
 70  Gross fixed capital formation, private sector (% of GDP) [NE.GDI.FPRV.ZS]                                                 986 non-null    float64
 71  Industry, value added (% of GDP) [NV.IND.TOTL.ZS]                                                                         986 non-null    float64
 72  Industry, value added (annual % growth) [NV.IND.TOTL.KD.ZG]                                                               986 non-null    float64
 73  Industry, value added (constant 2005 US$) [NV.IND.TOTL.KD]                                                                986 non-null    float64
 74  Inflation, consumer prices (annual %) [FP.CPI.TOTL.ZG]                                                                    986 non-null    float64
 75  Manufacturing, value added (% of GDP) [NV.IND.MANF.ZS]                                                                    986 non-null    float64
 76  Manufacturing, value added (annual % growth) [NV.IND.MANF.KD.ZG]                                                          986 non-null    float64
 77  Manufacturing, value added (constant 2005 US$) [NV.IND.MANF.KD]                                                           986 non-null    float64
 78  Tax revenue (% of GDP) [GC.TAX.TOTL.GD.ZS]                                                                                986 non-null    float64
 79  Export value index (2000 = 100) [TX.VAL.MRCH.XD.WD]                                                                       986 non-null    float64
 80  Export volume index (2000 = 100) [TX.QTY.MRCH.XD.WD]                                                                      986 non-null    float64
 81  Exports of goods and services (% of GDP) [NE.EXP.GNFS.ZS]                                                                 986 non-null    float64
 82  Exports of goods and services (annual % growth) [NE.EXP.GNFS.KD.ZG]                                                       986 non-null    float64
 83  Foreign direct investment, net inflows (% of GDP) [BX.KLT.DINV.WD.GD.ZS]                                                  986 non-null    float64
 84  Foreign direct investment, net outflows (% of GDP) [BM.KLT.DINV.WD.GD.ZS]                                                 986 non-null    float64
 85  Fuel exports (% of merchandise exports) [TX.VAL.FUEL.ZS.UN]                                                               986 non-null    float64
 86  High-technology exports (% of manufactured exports) [TX.VAL.TECH.MF.ZS]                                                   986 non-null    float64
 87  ICT goods imports (% total goods imports) [TM.VAL.ICTG.ZS.UN]                                                             986 non-null    float64
 88  Imports of goods and services (% of GDP) [NE.IMP.GNFS.ZS]                                                                 986 non-null    float64
 89  Personal remittances, paid (current US$) [BM.TRF.PWKR.CD.DT]                                                              986 non-null    float64
 90  Personal transfers, receipts (BoP, current US$) [BX.TRF.PWKR.CD]                                                          986 non-null    float64
 91  Taxes on income, profits and capital gains (% of total taxes) [GC.TAX.YPKG.ZS]                                            986 non-null    float64
dtypes: datetime64[ns](1), float64(86), int64(1), object(4)
memory usage: 708.8+ KB

##### Clean the df_population dataframe

In [6]:
# Remove the _female from the column names
df_population.columns = df_population.columns.str.replace("\(% of GDP\)", "%GDP", regex=True)
df_population.columns = df_population.columns.str.replace("\(annual % growth\)", "annual_growth", regex=True)
df_population.columns = df_population.columns.str.replace("\(constant 2005 US$\)", "USD", regex=True)



# Identify delimiter and remove the name
df_population.columns = df_population.columns.str.split("(", n=1).str[0]
df_population.columns = df_population.columns.str.split("[", n=1).str[0]

df_population.head()

,Time,Time Code,Country Name,Country Code,CPIA economic management cluster average,CPIA financial sector rating,CPIA macroeconomic management rating,Automated teller machines,Borrowers from commercial banks,Depth of credit information index,...,Exports of goods and services annual_growth,"Foreign direct investment, net inflows %GDP","Foreign direct investment, net outflows %GDP",Fuel exports,High-technology exports,ICT goods imports,Imports of goods and services %GDP,"Personal remittances, paid","Personal transfers, receipts","Taxes on income, profits and capital gains"
0,2016-01-01,YR2016,Algeria,DZA,0,0.0,0.0,8.668604,39.065192,0,...,7.900000,1.029475,0.029423,93.992128,0.343524,5.181022,35.270284,5.897023e+07,1.696801e+07,0.000000
1,2016-01-01,YR2016,Argentina,ARG,0,0.0,0.0,60.103738,393.196312,8,...,5.292669,0.587564,0.321978,2.532451,8.792815,8.478812,13.538081,8.235657e+08,3.526393e+08,21.864873
2,2016-01-01,YR2016,Australia,AUS,0,0.0,0.0,168.028316,0.000000,7,...,6.865286,3.524720,-0.207303,27.653921,14.781559,9.997245,21.518447,6.309637e+09,0.000000e+00,71.668280
3,2016-01-01,YR2016,Austria,AUT,0,0.0,0.0,116.058589,0.000000,7,...,1.915409,-7.663361,-7.325377,1.705898,17.574765,7.449426,48.905179,4.523562e+09,3.008084e+08,46.083584
4,2016-01-01,YR2016,Belgium,BEL,0,0.0,0.0,88.227548,698.712686,5,...,7.517204,7.916496,6.142702,6.825841,12.536063,3.003773,81.606927,3.890063e+09,7.971687e+07,54.611886

In [7]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 92 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Time                                                        986 non-null    datetime64[ns]
 1   Time Code                                                   986 non-null    object
 2   Country Name                                                986 non-null    object
 3   Country Code                                                986 non-null    object
 4   CPIA economic management cluster average                    986 non-null    object
 5   CPIA financial sector rating                                986 non-null    float64
 6   CPIA macroeconomic management rating                        986 non-null    float64
 7   Automated teller machines                                   986 non-null    float64
 8   Borrowers from commercial banks                             986 non-null    float64
 9   Depth of credit information index                           986 non-null    int64
 10  Domestic credit provided by financial sector %GDP           986 non-null    float64
 11  Domestic credit to private sector %GDP                      986 non-null    float64
 12  Market capitalization of listed companies %GDP              986 non-null    float64
 13  Private credit bureau coverage                              986 non-null    float64
 14  Public credit registry coverage                             986 non-null    float64
 15  Informal payments to public officials                       986 non-null    float64
 16  Number of visits or required meetings with tax officials    986 non-null    float64
 17  CPIA policies for social inclusion/equity cluster average   986 non-null    float64
 18  CPIA property rights and rule-based governance rating       986 non-null    float64
 19  CPIA gender equality rating                                 986 non-null    float64
 20  New business density                                        986 non-null    float64
 21  Labor force participation rate, total                       986 non-null    float64
 22  Labor force, total                                          986 non-null    float64
 23  Total employment, total                                     986 non-null    float64
 24  Unemployment with advanced education                        986 non-null    float64
 25  Unemployment with intermediate education                    986 non-null    float64
 26  Unemployment, total                                         986 non-null    float64
 27  Unemployment, youth total                                   986 non-null    float64
 28  Literacy rate, adult total                                  986 non-null    float64
 29  Literacy rate, youth total                                  986 non-null    float64
 30  Government expenditure on education, total %GDP             986 non-null    float64
 31  Labor force with advanced education                         986 non-null    float64
 32  Labor force with basic education                            986 non-null    float64
 33  Labor force with intermediate education                     986 non-null    float64
 34  Primary completion rate, total                              986 non-null    float64
 35  School enrollment, primary                                  986 non-null    float64
 36  School enrollment, secondary                                986 non-null    float64
 37  School enrollment, secondary                                986 non-null    float64
 38  School enrollment, tertiary                                 986 non-null    float64
 39  School enrollment, tertiary                                 986 non-null    float64
 40  Individuals using the Internet                              986 non-null    float64
 41  Research and development expenditure %GDP                   986 non-null    float64
 42  Researchers in R&D                                          986 non-null    float64
 43  Technicians in R&D                                          986 non-null    float64
 44  Age dependency ratio                                        986 non-null    float64
 45  International migrant stock                                 986 non-null    float64
 46  Population ages 0-14                                        986 non-null    float64
 47  Population ages 0-14, total                                 986 non-null    float64
 48  Population ages 15-64                                       986 non-null    float64
 49  Population ages 15-64, total                                986 non-null    float64
 50  Population ages 65 and above                                986 non-null    float64
 51  Population ages 65 and above, total                         986 non-null    float64
 52  Population density                                          986 non-null    float64
 53  Population growth                                           986 non-null    float64
 54  Population, total                                           986 non-null    float64
 55  Rural population                                            986 non-null    float64
 56  Rural population                                            986 non-null    float64
 57  Urban population                                            986 non-null    float64
 58  Urban population                                            986 non-null    float64
 59  Poverty headcount ratio at $1.90 a day                      986 non-null    float64
 60  Agriculture, value added %GDP                               986 non-null    float64
 61  Agriculture, value added annual_growth                      986 non-null    float64
 62  Agriculture, value added                                    986 non-null    float64
 63  Consumer price index                                        986 non-null    float64
 64  GDP growth                                                  986 non-null    float64
 65  GDP per capita                                              986 non-null    float64
 66  GDP per capita, PPP                                         986 non-null    float64
 67  GDP per person employed                                     986 non-null    float64
 68  Gross capital formation %GDP                                986 non-null    float64
 69  Gross capital formation annual_growth                       986 non-null    float64
 70  Gross fixed capital formation, private sector %GDP          986 non-null    float64
 71  Industry, value added %GDP                                  986 non-null    float64
 72  Industry, value added annual_growth                         986 non-null    float64
 73  Industry, value added                                       986 non-null    float64
 74  Inflation, consumer prices                                  986 non-null    float64
 75  Manufacturing, value added %GDP                             986 non-null    float64
 76  Manufacturing, value added annual_growth                    986 non-null    float64
 77  Manufacturing, value added                                  986 non-null    float64
 78  Tax revenue %GDP                                            986 non-null    float64
 79  Export value index                                          986 non-null    float64
 80  Export volume index                                         986 non-null    float64
 81  Exports of goods and services %GDP                          986 non-null    float64
 82  Exports of goods and services annual_growth                 986 non-null    float64
 83  Foreign direct investment, net inflows %GDP                 986 non-null    float64
 84  Foreign direct investment, net outflows %GDP                986 non-null    float64
 85  Fuel exports                                                986 non-null    float64
 86  High-technology exports                                     986 non-null    float64
 87  ICT goods imports                                           986 non-null    float64
 88  Imports of goods and services %GDP                          986 non-null    float64
 89  Personal remittances, paid                                  986 non-null    float64
 90  Personal transfers, receipts                                986 non-null    float64
 91  Taxes on income, profits and capital gains                  986 non-null    float64
dtypes: datetime64[ns](1), float64(86), int64(1), object(4)
memory usage: 708.8+ KB

In [8]:
# Save df_male data into Clean_data_folder for easy access
# df_population.to_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Clean_data/df_population.csv', index= False)

#### Create gender data
- Create df_gender with data columns that contain the word 'male' --> use for further spliting into male and female data

In [9]:
# Create a dataframe with key identifier for the data
df_gender=df_raw.iloc[:,0:4]

# Add in filter data from the raw data frame that has 'male' in the title
df_gender=pd.concat([df_gender, df_raw.filter(regex="male")], axis=1)

df_gender.head()

,Time,Time Code,Country Name,Country Code,"Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.FE.ZS]","Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.MA.ZS]","Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]","Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]","Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]","Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]",...,"Labor force with intermediate education, female (% of female working-age population with intermediate education) [SL.TLF.INTM.FE.ZS]","Labor force with intermediate education, male (% of male working-age population with intermediate education) [SL.TLF.INTM.MA.ZS]","Primary completion rate, female (% of relevant age group) [SE.PRM.CMPT.FE.ZS]","Primary completion rate, male (% of relevant age group) [SE.PRM.CMPT.MA.ZS]","School enrollment, primary, female (% gross) [SE.PRM.ENRR.FE]","School enrollment, primary, male (% gross) [SE.PRM.ENRR.MA]","School enrollment, secondary, female (% gross) [SE.SEC.ENRR.FE]","School enrollment, secondary, male (% gross) [SE.SEC.ENRR.MA]","School enrollment, tertiary, female (% gross) [SE.TER.ENRR.FE]","School enrollment, tertiary, male (% gross) [SE.TER.ENRR.MA]"
0,2016-01-01,YR2016,Algeria,DZA,15.125000,67.392998,0.0000,0.0000,0.000,0.0000,...,0.000000,0.000000,105.371857,105.518982,110.609650,116.564438,0.000000,0.000000,53.622421,32.085690
1,2016-01-01,YR2016,Argentina,ARG,47.430000,73.382004,0.0000,0.0000,0.000,0.0000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2016-01-01,YR2016,Australia,AUS,59.240002,70.667000,0.0000,0.0000,0.000,0.0000,...,0.000000,0.000000,0.000000,0.000000,101.317741,101.361679,142.655777,164.489716,144.099289,100.762253
3,2016-01-01,YR2016,Austria,AUT,54.946999,66.222000,3.7707,3.5801,6.077,5.7676,...,67.972298,63.908901,99.599052,99.711578,101.997108,102.517792,98.917412,102.909523,90.825890,76.445869
4,2016-01-01,YR2016,Belgium,BEL,47.765999,58.964001,3.9922,4.2040,7.895,8.0442,...,66.446297,59.217300,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

##### Create dataframe of job information with female population
- Create dataframe with female population data 
    - Use filter to filter out columns name that contain "female" in the title
    - Clean column name by utilizing delimiter

In [10]:
# Create df_female with data from column 0 to 3
df_female = df_gender.iloc[:, 0:4]

# Create a gender column and fill in female
df_female['Gender']= ["female" for i in range(len(df_female))]

# Filter all the column from df3 that has the word "female in column"
df_female=pd.concat([df_female, df_gender.filter(regex='female')], axis=1)

In [11]:
df_female.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 20 columns):
 #   Column                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                --------------  -----
 0   Time                                                                                                                                  986 non-null    datetime64[ns]
 1   Time Code                                                                                                                             986 non-null    object
 2   Country Name                                                                                                                          986 non-null    object
 3   Country Code                                                                                                                          986 non-null    object
 4   Gender                                                                                                                                986 non-null    object
 5   Labor force participation rate, female (% of female population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.FE.ZS]                   986 non-null    float64
 6   Unemployment with advanced education, female (% of female labor force with advanced education) [SL.UEM.ADVN.FE.ZS]                    986 non-null    float64
 7   Unemployment with intermediate education, female (% of female labor force with intermediate education) [SL.UEM.INTM.FE.ZS]            986 non-null    float64
 8   Unemployment, female (% of female labor force) (modeled ILO estimate) [SL.UEM.TOTL.FE.ZS]                                             986 non-null    float64
 9   Unemployment, youth female (% of female labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.FE.ZS]                            986 non-null    float64
 10  Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]                                                                          986 non-null    float64
 11  Literacy rate, adult female (% of females ages 15 and above) [SE.ADT.LITR.FE.ZS]                                                      986 non-null    float64
 12  Literacy rate, youth female (% of females ages 15-24) [SE.ADT.1524.LT.FE.ZS]                                                          986 non-null    float64
 13  Labor force with advanced education, female (% of female working-age population with advanced education) [SL.TLF.ADVN.FE.ZS]          986 non-null    float64
 14  Labor force with basic education, female (% of female working-age population with basic education) [SL.TLF.BASC.FE.ZS]                986 non-null    float64
 15  Labor force with intermediate education, female (% of female working-age population with intermediate education) [SL.TLF.INTM.FE.ZS]  986 non-null    float64
 16  Primary completion rate, female (% of relevant age group) [SE.PRM.CMPT.FE.ZS]                                                         986 non-null    float64
 17  School enrollment, primary, female (% gross) [SE.PRM.ENRR.FE]                                                                         986 non-null    float64
 18  School enrollment, secondary, female (% gross) [SE.SEC.ENRR.FE]                                                                       986 non-null    float64
 19  School enrollment, tertiary, female (% gross) [SE.TER.ENRR.FE]                                                                        986 non-null    float64
dtypes: datetime64[ns](1), float64(15), object(4)
memory usage: 154.2+ KB

In [12]:
# Rename the column  for easy analysis
df_female.columns = df_female.columns.str.split('(', n=1).str[0]

# Remove the female from the column names
df_female.columns = df_female.columns.str.replace("female", "")

# Remove the _female from the column names
df_female.columns = df_female.columns.str.replace(",", "")

df_female.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 20 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Time                                        986 non-null    datetime64[ns]
 1   Time Code                                   986 non-null    object
 2   Country Name                                986 non-null    object
 3   Country Code                                986 non-null    object
 4   Gender                                      986 non-null    object
 5   Labor force participation rate              986 non-null    float64
 6   Unemployment with advanced education        986 non-null    float64
 7   Unemployment with intermediate education    986 non-null    float64
 8   Unemployment                                986 non-null    float64
 9   Unemployment youth                          986 non-null    float64
 10  Life expectancy at birth                    986 non-null    float64
 11  Literacy rate adult                         986 non-null    float64
 12  Literacy rate youth                         986 non-null    float64
 13  Labor force with advanced education         986 non-null    float64
 14  Labor force with basic education            986 non-null    float64
 15  Labor force with intermediate education     986 non-null    float64
 16  Primary completion rate                     986 non-null    float64
 17  School enrollment primary                   986 non-null    float64
 18  School enrollment secondary                 986 non-null    float64
 19  School enrollment tertiary                  986 non-null    float64
dtypes: datetime64[ns](1), float64(15), object(4)
memory usage: 154.2+ KB

In [13]:
df_female.head()

,Time,Time Code,Country Name,Country Code,Gender,Labor force participation rate,Unemployment with advanced education,Unemployment with intermediate education,Unemployment,Unemployment youth,Life expectancy at birth,Literacy rate adult,Literacy rate youth,Labor force with advanced education,Labor force with basic education,Labor force with intermediate education,Primary completion rate,School enrollment primary,School enrollment secondary,School enrollment tertiary
0,2016-01-01,YR2016,Algeria,DZA,female,15.125000,0.0000,0.000,18.599001,41.657001,77.333,0.0,0.0,0.000000,0.000000,0.000000,105.371857,110.609650,0.000000,53.622421
1,2016-01-01,YR2016,Argentina,ARG,female,47.430000,0.0000,0.000,9.557000,25.356001,80.310,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2016-01-01,YR2016,Australia,AUS,female,59.240002,0.0000,0.000,5.785000,11.406000,84.600,0.0,0.0,0.000000,0.000000,0.000000,0.000000,101.317741,142.655777,144.099289
3,2016-01-01,YR2016,Austria,AUT,female,54.946999,3.7707,6.077,5.536000,10.222000,83.400,0.0,0.0,76.001900,48.577400,67.972298,99.599052,101.997108,98.917412,90.825890
4,2016-01-01,YR2016,Belgium,BEL,female,47.765999,3.9922,7.895,7.560000,18.122000,83.400,0.0,0.0,74.894798,36.714001,66.446297,0.000000,0.000000,0.000000,0.000000

In [14]:
# Save data into Clean_data_folder for easy access
# df_female.to_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Clean_data/df_female.csv', index= False)

##### Create a dataframe of job information with male population
- Create dataframe with male population data from the df_gender
    - Create dataframe by filter "female" from the column name
    - Clean column name by utilizing delimiter_ similar to df_female

In [15]:
# Create df_male by filter out 'female' in the column name from df_gender
df_male=df_gender.drop(columns=[column for column in df_raw.columns if "female" in column])

# Create a gender column and fill in female
# df_male['Gender']= ["male" for i in range(len(df_male))]

df_male.insert(loc=4, column='Gender', value=["male" for i in range(len(df_male))])



df_male.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 20 columns):
 #   Column                                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                                            --------------  -----
 0   Time                                                                                                                              986 non-null    datetime64[ns]
 1   Time Code                                                                                                                         986 non-null    object
 2   Country Name                                                                                                                      986 non-null    object
 3   Country Code                                                                                                                      986 non-null    object
 4   Gender                                                                                                                            986 non-null    object
 5   Labor force participation rate, male (% of male population ages 15+) (modeled ILO estimate) [SL.TLF.CACT.MA.ZS]                   986 non-null    float64
 6   Unemployment with advanced education, male (% of male labor force with advanced education) [SL.UEM.ADVN.MA.ZS]                    986 non-null    float64
 7   Unemployment with intermediate education, male (% of male labor force with intermediate education) [SL.UEM.INTM.MA.ZS]            986 non-null    float64
 8   Unemployment, male (% of male labor force) (modeled ILO estimate) [SL.UEM.TOTL.MA.ZS]                                             986 non-null    float64
 9   Unemployment, youth male (% of male labor force ages 15-24) (modeled ILO estimate) [SL.UEM.1524.MA.ZS]                            986 non-null    float64
 10  Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]                                                                        986 non-null    float64
 11  Literacy rate, adult male (% of males ages 15 and above) [SE.ADT.LITR.MA.ZS]                                                      986 non-null    float64
 12  Literacy rate, youth male (% of males ages 15-24) [SE.ADT.1524.LT.MA.ZS]                                                          986 non-null    float64
 13  Labor force with advanced education, male (% of male working-age population with advanced education) [SL.TLF.ADVN.MA.ZS]          986 non-null    float64
 14  Labor force with basic education, male (% of male working-age population with basic education) [SL.TLF.BASC.MA.ZS]                986 non-null    float64
 15  Labor force with intermediate education, male (% of male working-age population with intermediate education) [SL.TLF.INTM.MA.ZS]  986 non-null    float64
 16  Primary completion rate, male (% of relevant age group) [SE.PRM.CMPT.MA.ZS]                                                       986 non-null    float64
 17  School enrollment, primary, male (% gross) [SE.PRM.ENRR.MA]                                                                       986 non-null    float64
 18  School enrollment, secondary, male (% gross) [SE.SEC.ENRR.MA]                                                                     986 non-null    float64
 19  School enrollment, tertiary, male (% gross) [SE.TER.ENRR.MA]                                                                      986 non-null    float64
dtypes: datetime64[ns](1), float64(15), object(4)
memory usage: 154.2+ KB

In [16]:
# Rename the column for easy analysis
# Remove the ending
df_male.columns = df_male.columns.str.split("(", n=1).str[0]

# Remove the female from the column names
df_male.columns = df_male.columns.str.replace("male", "")

# Remove the _female from the column names
df_male.columns = df_male.columns.str.replace(",", "")

df_male.head(10)

,Time,Time Code,Country Name,Country Code,Gender,Labor force participation rate,Unemployment with advanced education,Unemployment with intermediate education,Unemployment,Unemployment youth,Life expectancy at birth,Literacy rate adult,Literacy rate youth,Labor force with advanced education,Labor force with basic education,Labor force with intermediate education,Primary completion rate,School enrollment primary,School enrollment secondary,School enrollment tertiary
0,2016-01-01,YR2016,Algeria,DZA,male,67.392998,0.0000,0.0000,8.336,20.832001,74.873,0.000000,0.00000,0.000000,0.000000,0.000000,105.518982,116.564438,0.000000,32.085690
1,2016-01-01,YR2016,Argentina,ARG,male,73.382004,0.0000,0.0000,8.101,22.395000,72.777,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2016-01-01,YR2016,Australia,AUS,male,70.667000,0.0000,0.0000,5.664,13.852000,80.500,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,101.361679,164.489716,100.762253
3,2016-01-01,YR2016,Austria,AUT,male,66.222000,3.5801,5.7676,6.426,12.126000,78.500,0.000000,0.00000,76.884102,37.499001,63.908901,99.711578,102.517792,102.909523,76.445869
4,2016-01-01,YR2016,Belgium,BEL,male,58.964001,4.2040,8.0442,8.060,21.698000,78.700,0.000000,0.00000,74.963097,28.895500,59.217300,0.000000,0.000000,0.000000,0.000000
5,2016-01-01,YR2016,Bangladesh,BGD,male,79.805000,9.0300,9.7100,3.187,9.943000,70.891,75.618851,90.90535,77.519997,57.529999,51.310001,0.000000,115.182312,65.619164,20.309380
6,2016-01-01,YR2016,Brazil,BRA,male,74.945000,6.3332,13.4632,10.212,24.046000,71.883,0.000000,0.00000,81.673500,48.585999,74.184502,0.000000,0.000000,0.000000,0.000000
7,2016-01-01,YR2016,Canada,CAN,male,70.106003,5.4622,8.2892,7.679,14.797000,80.441,0.000000,0.00000,75.352898,44.360001,63.368000,0.000000,101.397552,112.241524,0.000000
8,2016-01-01,YR2016,China,CHN,male,76.393997,0.0000,0.0000,5.051,11.900000,74.795,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,100.576637,0.000000,44.154999
9,2016-01-01,YR2016,Colombia,COL,male,82.558998,11.2873,9.9877,6.623,13.821000,70.851,0.000000,0.00000,78.973801,62.408699,74.287399,102.048561,115.682854,95.171288,54.449051

In [17]:
# Save df_male data into Clean_data_folder for easy access
# df_male.to_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Clean_data/df_male.csv', index= False)

## Spltting the data into sub division for analysis
- business_env_df = business and environment
- employment_df = employment
- econ_structure_df = structure of the economy
- human_capital_df= human capital

#### Business environment

In [19]:
# Load data
business_env_df=pd.read_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Raw_data/Topic_raw_data/P_job_business_environment/business_environtment.csv',
                            sep=",",
                            encoding='mac_roman'
                            )
business_env_df= business_env_df.iloc[0:986]
business_env_df.tail(10)

,Time,Time Code,Country Name,Country Code,Access to electricity (% of population) [EG.ELC.ACCS.ZS],"Air transport, registered carrier departures worldwide [IS.AIR.DPRT]","Automated teller machines (ATMs) (per 100,000 adults) [FB.ATM.TOTL.P5]","Borrowers from commercial banks (per 1,000 adults) [FB.CBK.BRWR.P3]",CPIA economic management cluster average (1=low to 6=high) [IQ.CPA.ECON.XQ],CPIA financial sector rating (1=low to 6=high) [IQ.CPA.FINS.XQ],...,Public credit registry coverage (% of adults) [IC.CRD.PUBL.ZS],Tax payments (number) [IC.TAX.PAYM],"Taxes on income, profits and capital gains (% of total taxes) [GC.TAX.YPKG.ZS]",Telephone lines (per 100 people) [IT.MLT.MAIN.P2],Time required to enforce a contract (days) [IC.LGL.DURS],Time required to obtain an operating license (days) [IC.FRM.DURS],Time required to register property (days) [IC.PRP.DURS],Time required to start a business (days) [IC.REG.DURS],Time to prepare and pay taxes (hours) [IC.TAX.DURS],Time to resolve insolvency (years) [IC.ISV.DURS]
976,2000,YR2000,Vietnam,VNM,86.239875793457,28999,..,..,..,..,...,..,..,33.0110535121644,3.16709248420033,..,..,..,..,..,..
977,2000,YR2000,"Hong Kong SAR, China",HKG,100,79182,..,..,..,..,...,..,..,..,58.9142683578709,..,..,..,..,..,..
978,2000,YR2000,Kazakhstan,KAZ,99.0473861694336,8041,..,..,..,..,...,..,..,31.2188278249563,12.1815885025818,..,..,..,..,..,..
979,2000,YR2000,Morocco,MAR,69.8509674072266,44542,..,..,..,..,...,..,..,..,4.93940630970507,..,..,..,..,..,..
980,2000,YR2000,Czech Republic,CZE,100,40027,..,..,..,..,...,..,..,27.1956921384422,37.6268587468077,..,..,..,..,..,..
981,2000,YR2000,Hungary,HUN,100,32297,..,..,..,..,...,..,..,34.0716121075514,37.1610903810185,..,..,..,..,..,..
982,2000,YR2000,Portugal,PRT,100,112462,..,..,..,..,...,..,..,41.1872945295278,41.7281620284928,..,..,..,..,..,..
983,2000,YR2000,Romania,ROU,100,23298,..,..,..,..,...,..,..,35.2550423349625,17.6210387069344,..,..,..,..,..,..
984,2000,YR2000,South Africa,ZAF,71.3391799926758,110392,..,..,..,..,...,..,..,57.1033317655537,10.850482901021,..,..,..,..,..,..
985,2000,YR2000,"Egypt, Arab Rep.",EGY,97.7,47418,..,..,..,..,...,..,..,..,7.8442507671875,..,..,..,..,..,..

In [20]:
business_env_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 35 columns):
 #   Column                                                                                        Non-Null Count  Dtype
---  ------                                                                                        --------------  -----
 0   Time                                                                                          986 non-null    object
 1   Time Code                                                                                     986 non-null    object
 2   Country Name                                                                                  986 non-null    object
 3   Country Code                                                                                  986 non-null    object
 4   Access to electricity (% of population) [EG.ELC.ACCS.ZS]                                      986 non-null    object
 5   Air transport, registered carrier departures worldwide [IS.AIR.DPRT]                          986 non-null    object
 6   Automated teller machines (ATMs) (per 100,000 adults) [FB.ATM.TOTL.P5]                        986 non-null    object
 7   Borrowers from commercial banks (per 1,000 adults) [FB.CBK.BRWR.P3]                           986 non-null    object
 8   CPIA economic management cluster average (1=low to 6=high) [IQ.CPA.ECON.XQ]                   986 non-null    object
 9   CPIA financial sector rating (1=low to 6=high) [IQ.CPA.FINS.XQ]                               986 non-null    object
 10  CPIA gender equality rating (1=low to 6=high) [IQ.CPA.GNDR.XQ]                                986 non-null    object
 11  CPIA macroeconomic management rating (1=low to 6=high) [IQ.CPA.MACR.XQ]                       986 non-null    object
 12  CPIA policies for social inclusion/equity cluster average (1=low to 6=high) [IQ.CPA.SOCI.XQ]  986 non-null    object
 13  CPIA property rights and rule-based governance rating (1=low to 6=high) [IQ.CPA.PROP.XQ]      986 non-null    object
 14  Depth of credit information index (0=low to 8=high) [IC.CRD.INFO.XQ]                          986 non-null    object
 15  Domestic credit provided by financial sector (% of GDP) [FS.AST.DOMS.GD.ZS]                   986 non-null    object
 16  Domestic credit to private sector (% of GDP) [FS.AST.PRVT.GD.ZS]                              986 non-null    object
 17  Ease of doing business index (1=most business-friendly regulations) [IC.BUS.EASE.XQ]          986 non-null    object
 18  Electric power consumption (kWh per capita) [EG.USE.ELEC.KH.PC]                               986 non-null    object
 19  Fixed broadband Internet subscribers (per 100 people) [IT.NET.BBND.P2]                        986 non-null    object
 20  Informal payments to public officials (% of firms) [IC.FRM.CORR.ZS]                           986 non-null    object
 21  Market capitalization of listed companies (% of GDP) [CM.MKT.LCAP.GD.ZS]                      986 non-null    object
 22  Mobile cellular subscriptions (per 100 people) [IT.CEL.SETS.P2]                               986 non-null    float64
 23  Number of visits or required meetings with tax officials [IC.TAX.METG]                        986 non-null    object
 24  Private credit bureau coverage (% of adults) [IC.CRD.PRVT.ZS]                                 986 non-null    object
 25  Public credit registry coverage (% of adults) [IC.CRD.PUBL.ZS]                                986 non-null    object
 26  Tax payments (number) [IC.TAX.PAYM]                                                           986 non-null    object
 27  Taxes on income, profits and capital gains (% of total taxes) [GC.TAX.YPKG.ZS]                986 non-null    object
 28  Telephone lines (per 100 people) [IT.MLT.MAIN.P2]                                             986 non-null    object
 29  Time required to enforce a contract (days) [IC.LGL.DURS]                                      986 non-null    object
 30  Time required to obtain an operating license (days) [IC.FRM.DURS]                             986 non-null    object
 31  Time required to register property (days) [IC.PRP.DURS]                                       986 non-null    object
 32  Time required to start a business (days) [IC.REG.DURS]                                        986 non-null    object
 33  Time to prepare and pay taxes (hours) [IC.TAX.DURS]                                           986 non-null    object
 34  Time to resolve insolvency (years) [IC.ISV.DURS]                                              986 non-null    object
dtypes: float64(1), object(34)
memory usage: 269.7+ KB

In [21]:
# Convert column 5 to 108 from object to float
#df_raw.iloc[:, 5:108]=df_raw.iloc[:, 5:108].astype(float) 
business_env_df.iloc[:, 5:35]= (business_env_df.iloc[:, 5:35]).apply(pd.to_numeric, errors='coerce')


# Convert df["Time"] to datetime object
business_env_df["Time"] = pd.to_datetime(business_env_df["Time"].astype(str), format="%Y", errors='coerce')
business_env_df.head()

/var/folders/4c/r7kxsc7j67gd7wlqt50rmb100000gn/T/ipykernel_37610/3129314411.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  business_env_df.iloc[:, 5:35]= (business_env_df.iloc[:, 5:35]).apply(pd.to_numeric, errors='coerce')

,Time,Time Code,Country Name,Country Code,Access to electricity (% of population) [EG.ELC.ACCS.ZS],"Air transport, registered carrier departures worldwide [IS.AIR.DPRT]","Automated teller machines (ATMs) (per 100,000 adults) [FB.ATM.TOTL.P5]","Borrowers from commercial banks (per 1,000 adults) [FB.CBK.BRWR.P3]",CPIA economic management cluster average (1=low to 6=high) [IQ.CPA.ECON.XQ],CPIA financial sector rating (1=low to 6=high) [IQ.CPA.FINS.XQ],...,Public credit registry coverage (% of adults) [IC.CRD.PUBL.ZS],Tax payments (number) [IC.TAX.PAYM],"Taxes on income, profits and capital gains (% of total taxes) [GC.TAX.YPKG.ZS]",Telephone lines (per 100 people) [IT.MLT.MAIN.P2],Time required to enforce a contract (days) [IC.LGL.DURS],Time required to obtain an operating license (days) [IC.FRM.DURS],Time required to register property (days) [IC.PRP.DURS],Time required to start a business (days) [IC.REG.DURS],Time to prepare and pay taxes (hours) [IC.TAX.DURS],Time to resolve insolvency (years) [IC.ISV.DURS]
0,2016-01-01,YR2016,Algeria,DZA,99.439567565918,73465.0,8.668604,39.065192,NaN,NaN,...,3.0,27.0,NaN,8.384733,630.0,NaN,55.0,20.0,265.0,1.3
1,2016-01-01,YR2016,Argentina,ARG,100,149334.0,60.103738,393.196312,NaN,NaN,...,41.6,9.0,21.864873,22.666391,995.0,NaN,51.5,24.0,359.0,2.4
2,2016-01-01,YR2016,Australia,AUS,100,682937.0,168.028316,NaN,NaN,NaN,...,0.0,11.0,71.668280,33.905544,402.0,NaN,4.5,2.5,105.0,1.0
3,2016-01-01,YR2016,Austria,AUT,100,149030.0,116.058589,NaN,NaN,NaN,...,2.3,12.0,46.083584,40.945178,397.0,NaN,20.5,21.0,131.0,1.1
4,2016-01-01,YR2016,Belgium,BEL,100,147324.0,88.227548,698.712686,NaN,NaN,...,95.3,11.0,54.611886,38.483088,505.0,NaN,56.0,4.0,136.0,0.9

In [22]:
# Quick clean up of column name
business_env_df.columns = business_env_df.columns.str.split("[", n=1).str[0]

business_env_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 35 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Time                                                                          986 non-null    datetime64[ns]
 1   Time Code                                                                     986 non-null    object
 2   Country Name                                                                  986 non-null    object
 3   Country Code                                                                  986 non-null    object
 4   Access to electricity (% of population)                                       986 non-null    object
 5   Air transport, registered carrier departures worldwide                        936 non-null    float64
 6   Automated teller machines (ATMs) (per 100,000 adults)                         713 non-null    float64
 7   Borrowers from commercial banks (per 1,000 adults)                            281 non-null    float64
 8   CPIA economic management cluster average (1=low to 6=high)                    70 non-null     float64
 9   CPIA financial sector rating (1=low to 6=high)                                70 non-null     float64
 10  CPIA gender equality rating (1=low to 6=high)                                 70 non-null     float64
 11  CPIA macroeconomic management rating (1=low to 6=high)                        70 non-null     float64
 12  CPIA policies for social inclusion/equity cluster average (1=low to 6=high)   68 non-null     float64
 13  CPIA property rights and rule-based governance rating (1=low to 6=high)       70 non-null     float64
 14  Depth of credit information index (0=low to 8=high)                           232 non-null    float64
 15  Domestic credit provided by financial sector (% of GDP)                       937 non-null    float64
 16  Domestic credit to private sector (% of GDP)                                  938 non-null    float64
 17  Ease of doing business index (1=most business-friendly regulations)           0 non-null      float64
 18  Electric power consumption (kWh per capita)                                   870 non-null    float64
 19  Fixed broadband Internet subscribers (per 100 people)                         908 non-null    float64
 20  Informal payments to public officials (% of firms)                            78 non-null     float64
 21  Market capitalization of listed companies (% of GDP)                          767 non-null    float64
 22  Mobile cellular subscriptions (per 100 people)                                986 non-null    float64
 23  Number of visits or required meetings with tax officials                      50 non-null     float64
 24  Private credit bureau coverage (% of adults)                                  652 non-null    float64
 25  Public credit registry coverage (% of adults)                                 652 non-null    float64
 26  Tax payments (number)                                                         606 non-null    float64
 27  Taxes on income, profits and capital gains (% of total taxes)                 828 non-null    float64
 28  Telephone lines (per 100 people)                                              985 non-null    float64
 29  Time required to enforce a contract (days)                                    697 non-null    float64
 30  Time required to obtain an operating license (days)                           57 non-null     float64
 31  Time required to register property (days)                                     652 non-null    float64
 32  Time required to start a business (days)                                      697 non-null    float64
 33  Time to prepare and pay taxes (hours)                                         606 non-null    float64
 34  Time to resolve insolvency (years)                                            670 non-null    float64
dtypes: datetime64[ns](1), float64(30), object(4)
memory usage: 269.7+ KB

In [23]:
# Save business_env_df data into Clean_data_folder for easy access
# business_env_df.to_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Clean_data/Topic_data/business_env_df.csv', index= False)

#### Employment data

In [25]:
employment_df=pd.read_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Raw_data/Topic_raw_data/P_job_employment/employment.csv',
                            sep=",",
                            encoding='mac_roman'
                        )

employment_df= employment_df.iloc[0:986]
employment_df.tail(10)

,Time,Time Code,Country Name,Country Code,"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]","Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]",Individuals using the Internet (% of population) [IT.NET.USER.ZS],Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS],"Labor force with advanced education, female (% of female working-age population with advanced education) [SL.TLF.ADVN.FE.ZS]",...,"School enrollment, secondary (% gross) [SE.SEC.ENRR]","School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]","School enrollment, secondary, female (% gross) [SE.SEC.ENRR.FE]","School enrollment, secondary, male (% gross) [SE.SEC.ENRR.MA]","School enrollment, tertiary (% gross) [SE.TER.ENRR]","School enrollment, tertiary (gross), gender parity index (GPI) [SE.ENR.TERT.FM.ZS]","School enrollment, tertiary, female (% gross) [SE.TER.ENRR.FE]","School enrollment, tertiary, male (% gross) [SE.TER.ENRR.MA]",Technicians in R&D (per million people) [SP.POP.TECH.RD.P6],CPIA social protection rating (1=low to 6=high) [IQ.CPA.PROT.XQ]
976,2000,YR2000,Vietnam,VNM,28.6456,2.010,..,0.254248275754934,..,..,...,..,..,..,..,9.41337966918945,0.72775000333786,7.91786003112793,10.8798599243164,..,..
977,2000,YR2000,"Hong Kong SAR, China",HKG,4.3656,1.032,..,27.8277606812581,..,..,...,..,..,..,..,..,..,..,..,202.55025,..
978,2000,YR2000,Kazakhstan,KAZ,34.3114,1.800,3.25661993026733,0.668594402621264,..,..,...,92.7226104736328,1.05411994457245,95.2188415527344,90.3304824829102,31.5952701568604,1.18884003162384,34.3606796264648,28.9027309417725,..,..
979,2000,YR2000,Morocco,MAR,35.2428,2.777,..,0.693791244805455,..,..,...,38.5552597045898,0.798789978027344,34.1853218078613,42.7965316772461,10.171480178833,0.731729984283447,8.59267044067383,11.7430095672607,..,..
980,2000,YR2000,Czech Republic,CZE,13.4416,1.150,3.65089011192322,9.78052788834393,74.2136001586914,81.2130966186523,...,88.3145980834961,1.02120995521545,89.2647476196289,87.4107971191406,28.3488502502441,1.03717005252838,28.8780002593994,27.8431301116943,713.14361,..
981,2000,YR2000,Hungary,HUN,22.8472,1.320,4.85891008377075,6.99967635062916,74.274299621582,79.1568984985352,...,96.1238784790039,1.00792002677917,96.5111999511719,95.7530364990234,35.9420585632324,1.22380995750427,39.6532516479492,32.4014701843262,505.27611,..
982,2000,YR2000,Portugal,PRT,20.2862,1.550,5.16176986694336,16.4304676923534,87.046501159668,88.3993988037109,...,104.078659057617,1.06681001186371,107.516952514648,100.783699035645,47.6335792541504,1.3376499414444,54.627628326416,40.8383598327637,260.35842,..
983,2000,YR2000,Romania,ROU,38.6314,1.310,2.85442996025085,3.61371729139783,78.9537963867188,78.7720031738281,...,79.2709121704102,1.02421998977661,80.2428665161133,78.3454437255859,24.0269203186035,1.12727999687195,25.5001697540283,22.6209697723389,292.93019,..
984,2000,YR2000,South Africa,ZAF,73.8364,2.829,5.44358015060425,5.34855973203537,77.4056015014648,84.0161972045898,...,82.5467910766602,1.10574996471405,86.7012634277344,78.4094467163086,..,..,..,..,..,..
985,2000,YR2000,"Egypt, Arab Rep.",EGY,54.3744,3.233,..,0.641265037504813,..,..,...,79.3397979736328,0.934729993343353,76.5978927612305,81.9466171264648,..,..,..,..,..,..

In [26]:
employment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 45 columns):
 #   Column                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                --------------  -----
 0   Time                                                                                                                                  986 non-null    object
 1   Time Code                                                                                                                             986 non-null    object
 2   Country Name                                                                                                                          986 non-null    object
 3   Country Code                                                                                                                          986 non-null    object
 4   Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]                                                           986 non-null    float64
 5   Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]                                                                             986 non-null    float64
 6   Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]                                                             986 non-null    object
 7   Individuals using the Internet (% of population) [IT.NET.USER.ZS]                                                                     986 non-null    object
 8   Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS]                      986 non-null    object
 9   Labor force with advanced education, female (% of female working-age population with advanced education) [SL.TLF.ADVN.FE.ZS]          986 non-null    object
 10  Labor force with advanced education, male (% of male working-age population with advanced education) [SL.TLF.ADVN.MA.ZS]              986 non-null    object
 11  Labor force with basic education (% of total working-age population with basic education) [SL.TLF.BASC.ZS]                            986 non-null    object
 12  Labor force with basic education, female (% of female working-age population with basic education) [SL.TLF.BASC.FE.ZS]                986 non-null    object
 13  Labor force with basic education, male (% of male working-age population with basic education) [SL.TLF.BASC.MA.ZS]                    986 non-null    object
 14  Labor force with intermediate education (% of total working-age population with intermediate education) [SL.TLF.INTM.ZS]              986 non-null    object
 15  Labor force with intermediate education, female (% of female working-age population with intermediate education) [SL.TLF.INTM.FE.ZS]  986 non-null    object
 16  Labor force with intermediate education, male (% of male working-age population with intermediate education) [SL.TLF.INTM.MA.ZS]      986 non-null    object
 17  Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]                                                                          986 non-null    float64
 18  Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]                                                                            986 non-null    float64
 19  Lifetime risk of maternal death (%) [SH.MMR.RISK.ZS]                                                                                  986 non-null    object
 20  Literacy rate, adult female (% of females ages 15 and above) [SE.ADT.LITR.FE.ZS]                                                      986 non-null    object
 21  Literacy rate, adult male (% of males ages 15 and above) [SE.ADT.LITR.MA.ZS]                                                          986 non-null    object
 22  Literacy rate, adult total (% of people ages 15 and above) [SE.ADT.LITR.ZS]                                                           986 non-null    object
 23  Literacy rate, youth female (% of females ages 15-24) [SE.ADT.1524.LT.FE.ZS]                                                          986 non-null    object
 24  Literacy rate, youth male (% of males ages 15-24) [SE.ADT.1524.LT.MA.ZS]                                                              986 non-null    object
 25  Literacy rate, youth total (% of people ages 15-24) [SE.ADT.1524.LT.ZS]                                                               986 non-null    object
 26  Prevalence of HIV, total (% of population ages 15-49) [SH.DYN.AIDS.ZS]                                                                986 non-null    object
 27  Primary completion rate, female (% of relevant age group) [SE.PRM.CMPT.FE.ZS]                                                         986 non-null    object
 28  Primary completion rate, male (% of relevant age group) [SE.PRM.CMPT.MA.ZS]                                                           986 non-null    object
 29  Primary completion rate, total (% of relevant age group) [SE.PRM.CMPT.ZS]                                                             986 non-null    object
 30  Research and development expenditure (% of GDP) [GB.XPD.RSDV.GD.ZS]                                                                   986 non-null    object
 31  Researchers in R&D (per million people) [SP.POP.SCIE.RD.P6]                                                                           986 non-null    object
 32  School enrollment, primary (% gross) [SE.PRM.ENRR]                                                                                    986 non-null    object
 33  School enrollment, primary, female (% gross) [SE.PRM.ENRR.FE]                                                                         986 non-null    object
 34  School enrollment, primary, male (% gross) [SE.PRM.ENRR.MA]                                                                           986 non-null    object
 35  School enrollment, secondary (% gross) [SE.SEC.ENRR]                                                                                  986 non-null    object
 36  School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]                                                   986 non-null    object
 37  School enrollment, secondary, female (% gross) [SE.SEC.ENRR.FE]                                                                       986 non-null    object
 38  School enrollment, secondary, male (% gross) [SE.SEC.ENRR.MA]                                                                         986 non-null    object
 39  School enrollment, tertiary (% gross) [SE.TER.ENRR]                                                                                   986 non-null    object
 40  School enrollment, tertiary (gross), gender parity index (GPI) [SE.ENR.TERT.FM.ZS]                                                    986 non-null    object
 41  School enrollment, tertiary, female (% gross) [SE.TER.ENRR.FE]                                                                        986 non-null    object
 42  School enrollment, tertiary, male (% gross) [SE.TER.ENRR.MA]                                                                          986 non-null    object
 43  Technicians in R&D (per million people) [SP.POP.TECH.RD.P6]                                                                           986 non-null    object
 44  CPIA social protection rating (1=low to 6=high) [IQ.CPA.PROT.XQ]                                                                      986 non-null    object
dtypes: float64(4), object(41)
memory usage: 346.8+ KB

In [27]:
# Convert number object to float
#df_raw.iloc[:, 5:108]=df_raw.iloc[:, 5:108].astype(float) 
employment_df.iloc[:, 5:45]= (employment_df.iloc[:, 5:45]).apply(pd.to_numeric, errors='coerce')


# Convert df["Time"] to datetime object
employment_df["Time"] = pd.to_datetime(employment_df["Time"].astype(str), format="%Y", errors='coerce')
employment_df.head()

/var/folders/4c/r7kxsc7j67gd7wlqt50rmb100000gn/T/ipykernel_37610/4163580370.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  employment_df.iloc[:, 5:45]= (employment_df.iloc[:, 5:45]).apply(pd.to_numeric, errors='coerce')

,Time,Time Code,Country Name,Country Code,"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]","Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]",Individuals using the Internet (% of population) [IT.NET.USER.ZS],Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS],"Labor force with advanced education, female (% of female working-age population with advanced education) [SL.TLF.ADVN.FE.ZS]",...,"School enrollment, secondary (% gross) [SE.SEC.ENRR]","School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]","School enrollment, secondary, female (% gross) [SE.SEC.ENRR.FE]","School enrollment, secondary, male (% gross) [SE.SEC.ENRR.MA]","School enrollment, tertiary (% gross) [SE.TER.ENRR]","School enrollment, tertiary (gross), gender parity index (GPI) [SE.ENR.TERT.FM.ZS]","School enrollment, tertiary, female (% gross) [SE.TER.ENRR.FE]","School enrollment, tertiary, male (% gross) [SE.TER.ENRR.MA]",Technicians in R&D (per million people) [SP.POP.TECH.RD.P6],CPIA social protection rating (1=low to 6=high) [IQ.CPA.PROT.XQ]
0,2016-01-01,YR2016,Algeria,DZA,10.4216,2.776,NaN,42.945527,NaN,NaN,...,NaN,NaN,NaN,NaN,42.663689,1.67123,53.622421,32.085690,NaN,NaN
1,2016-01-01,YR2016,Argentina,ARG,63.0272,2.293,NaN,70.968981,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,YR2016,Australia,AUS,13.2818,1.809,NaN,88.238658,NaN,NaN,...,153.848267,0.86726,142.655777,164.489716,121.859009,1.43009,144.099289,100.762253,NaN,NaN
3,2016-01-01,YR2016,Austria,AUT,7.2080,1.490,NaN,84.323331,77.862602,76.001900,...,100.963020,0.96121,98.917412,102.909523,83.455276,1.18811,90.825890,76.445869,NaN,NaN
4,2016-01-01,YR2016,Belgium,BEL,5.1082,1.700,NaN,86.516500,75.023300,74.894798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
# Quick clean up of column name
employment_df.columns = employment_df.columns.str.split("[", n=1).str[0]

employment_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 45 columns):
 #   Column                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                             --------------  -----
 0   Time                                                                                                               986 non-null    datetime64[ns]
 1   Time Code                                                                                                          986 non-null    object
 2   Country Name                                                                                                       986 non-null    object
 3   Country Code                                                                                                       986 non-null    object
 4   Adolescent fertility rate (births per 1,000 women ages 15-19)                                                      986 non-null    float64
 5   Fertility rate, total (births per woman)                                                                           986 non-null    float64
 6   Government expenditure on education, total (% of GDP)                                                              670 non-null    float64
 7   Individuals using the Internet (% of population)                                                                   981 non-null    float64
 8   Labor force with advanced education (% of total working-age population with advanced education)                    573 non-null    float64
 9   Labor force with advanced education, female (% of female working-age population with advanced education)           573 non-null    float64
 10  Labor force with advanced education, male (% of male working-age population with advanced education)               573 non-null    float64
 11  Labor force with basic education (% of total working-age population with basic education)                          570 non-null    float64
 12  Labor force with basic education, female (% of female working-age population with basic education)                 570 non-null    float64
 13  Labor force with basic education, male (% of male working-age population with basic education)                     570 non-null    float64
 14  Labor force with intermediate education (% of total working-age population with intermediate education)            571 non-null    float64
 15  Labor force with intermediate education, female (% of female working-age population with intermediate education)   571 non-null    float64
 16  Labor force with intermediate education, male (% of male working-age population with intermediate education)       571 non-null    float64
 17  Life expectancy at birth, female (years)                                                                           986 non-null    float64
 18  Life expectancy at birth, male (years)                                                                             986 non-null    float64
 19  Lifetime risk of maternal death (%)                                                                                912 non-null    float64
 20  Literacy rate, adult female (% of females ages 15 and above)                                                       179 non-null    float64
 21  Literacy rate, adult male (% of males ages 15 and above)                                                           179 non-null    float64
 22  Literacy rate, adult total (% of people ages 15 and above)                                                         179 non-null    float64
 23  Literacy rate, youth female (% of females ages 15-24)                                                              179 non-null    float64
 24  Literacy rate, youth male (% of males ages 15-24)                                                                  179 non-null    float64
 25  Literacy rate, youth total (% of people ages 15-24)                                                                179 non-null    float64
 26  Prevalence of HIV, total (% of population ages 15-49)                                                              714 non-null    float64
 27  Primary completion rate, female (% of relevant age group)                                                          570 non-null    float64
 28  Primary completion rate, male (% of relevant age group)                                                            570 non-null    float64
 29  Primary completion rate, total (% of relevant age group)                                                           597 non-null    float64
 30  Research and development expenditure (% of GDP)                                                                    714 non-null    float64
 31  Researchers in R&D (per million people)                                                                            617 non-null    float64
 32  School enrollment, primary (% gross)                                                                               873 non-null    float64
 33  School enrollment, primary, female (% gross)                                                                       871 non-null    float64
 34  School enrollment, primary, male (% gross)                                                                         871 non-null    float64
 35  School enrollment, secondary (% gross)                                                                             799 non-null    float64
 36  School enrollment, secondary (gross), gender parity index (GPI)                                                    789 non-null    float64
 37  School enrollment, secondary, female (% gross)                                                                     789 non-null    float64
 38  School enrollment, secondary, male (% gross)                                                                       789 non-null    float64
 39  School enrollment, tertiary (% gross)                                                                              748 non-null    float64
 40  School enrollment, tertiary (gross), gender parity index (GPI)                                                     729 non-null    float64
 41  School enrollment, tertiary, female (% gross)                                                                      729 non-null    float64
 42  School enrollment, tertiary, male (% gross)                                                                        729 non-null    float64
 43  Technicians in R&D (per million people)                                                                            457 non-null    float64
 44  CPIA social protection rating (1=low to 6=high)                                                                    68 non-null     float64
dtypes: datetime64[ns](1), float64(41), object(3)
memory usage: 346.8+ KB

In [29]:
# Save employment_df data into Clean_data_folder for easy access
# employment_df.to_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Clean_data/Topic_data/employment_df.csv', index= False)

#### Economy structure data

In [30]:
econ_structure_df=pd.read_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Raw_data/Topic_raw_data/P_job_economy_structure/economy_structure.csv',
                            sep=",",
                            encoding='mac_roman'
                            )

econ_structure_df= econ_structure_df.iloc[0:986]
econ_structure_df.tail(10)

,Time,Time Code,Country Name,Country Code,Age dependency ratio (% of working-age population) [SP.POP.DPND],"Agriculture, value added (% of GDP) [NV.AGR.TOTL.ZS]","Agriculture, value added (annual % growth) [NV.AGR.TOTL.KD.ZG]","Agriculture, value added (constant 2005 US$) [NV.AGR.TOTL.KD]",Consumer price index (2010 = 100) [FP.CPI.TOTL],Export value index (2000 = 100) [TX.VAL.MRCH.XD.WD],...,"Population ages 65 and above, total [SP.POP.65UP.TO]",Population density (people per sq. km of land area) [EN.POP.DNST],Population growth (annual %) [SP.POP.GROW],"Population, total [SP.POP.TOTL]",Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population) [SI.POV.DDAY],Rural population [SP.RUR.TOTL],Rural population (% of total population) [SP.RUR.TOTL.ZS],Tax revenue (% of GDP) [GC.TAX.TOTL.GD.ZS],Urban population [SP.URB.TOTL],Urban population (% of total) [SP.URB.TOTL.IN.ZS]
976,2000,YR2000,Vietnam,VNM,61.500751,24.5345819955349,4.63421184243971,15179834764.9619,48.1276370863991,100.0,...,5157227.0,258.103138,1.120008,80285562.0,..,60716759.0,75.626,16.5105084162429,19568803.0,24.374
977,2000,YR2000,"Hong Kong SAR, China",HKG,38.649283,0.0873270375124953,..,173088034.232039,95.84352078,100.0,...,733365.0,6347.619048,0.881594,6665000.0,..,0.0,0.000,..,6665000.0,100.000
978,2000,YR2000,Kazakhstan,KAZ,52.434023,8.11078388505165,-3.20000001015937,4663910934.85511,43.789304965612,100.0,...,1015831.0,5.513067,-0.300550,14883626.0,..,6534209.0,43.902,10.2213950712596,8349417.0,56.098
979,2000,YR2000,Morocco,MAR,63.379936,11.8772796274601,-12.1614226255593,6042884433.2933,83.6419396156825,100.0,...,1517178.0,64.641768,1.167368,28849621.0,6.3,13462676.0,46.665,..,15386945.0,53.335
980,2000,YR2000,Czech Republic,CZE,43.316209,3.11524830072208,1.45052243392747,3457070674.01463,77.8175954130084,100.0,...,1415366.0,132.717264,-0.280414,10255063.0,..,2667547.0,26.012,14.5169377231924,7587516.0,73.988
981,2000,YR2000,Hungary,HUN,46.898232,4.87723139212562,-10.0029110024321,3591030088.36506,57.8770182068018,100.0,...,1541488.0,113.936298,-0.259765,10210971.0,..,3617236.0,35.425,22.1991653379599,6593735.0,64.575
982,2000,YR2000,Portugal,PRT,47.799744,3.10781336787105,-4.97198605665442,4669255241.96798,78.5323684294627,100.0,...,1678397.0,112.457902,0.702860,10289898.0,..,4692296.0,45.601,21.0121541208802,5597602.0,54.399
983,2000,YR2000,Romania,ROU,47.370459,10.8002062127116,-17.1433560179546,8514637315.13171,31.9822220530293,100.0,...,3055115.0,97.701323,-0.129440,22442971.0,..,10547299.0,46.996,17.8738189831351,11895672.0,53.004
984,2000,YR2000,South Africa,ZAF,60.342697,2.9947459855187,4.69999996312407,7328671158.02319,59.898771742989,100.0,...,1840187.0,37.695732,1.474994,45728315.0,32.6,19713019.0,43.109,23.3436856721377,26015296.0,56.891
985,2000,YR2000,"Egypt, Arab Rep.",EGY,70.823633,15.5380770361658,3.40236058607037,20958675941.5692,45.0768656084691,100.0,...,3429714.0,70.225514,1.847016,69905988.0,..,39988322.0,57.203,..,29917666.0,42.797

In [31]:
econ_structure_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 52 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Time                                                                               986 non-null    object
 1   Time Code                                                                          986 non-null    object
 2   Country Name                                                                       986 non-null    object
 3   Country Code                                                                       986 non-null    object
 4   Age dependency ratio (% of working-age population) [SP.POP.DPND]                   986 non-null    float64
 5   Agriculture, value added (% of GDP) [NV.AGR.TOTL.ZS]                               986 non-null    object
 6   Agriculture, value added (annual % growth) [NV.AGR.TOTL.KD.ZG]                     986 non-null    object
 7   Agriculture, value added (constant 2005 US$) [NV.AGR.TOTL.KD]                      986 non-null    object
 8   Consumer price index (2010 = 100) [FP.CPI.TOTL]                                    986 non-null    object
 9   Export value index (2000 = 100) [TX.VAL.MRCH.XD.WD]                                986 non-null    float64
 10  Export volume index (2000 = 100) [TX.QTY.MRCH.XD.WD]                               986 non-null    float64
 11  Exports of goods and services (% of GDP) [NE.EXP.GNFS.ZS]                          986 non-null    object
 12  Exports of goods and services (annual % growth) [NE.EXP.GNFS.KD.ZG]                986 non-null    object
 13  Foreign direct investment, net inflows (% of GDP) [BX.KLT.DINV.WD.GD.ZS]           986 non-null    object
 14  Foreign direct investment, net outflows (% of GDP) [BM.KLT.DINV.WD.GD.ZS]          986 non-null    object
 15  Fuel exports (% of merchandise exports) [TX.VAL.FUEL.ZS.UN]                        986 non-null    object
 16  GDP growth (annual %) [NY.GDP.MKTP.KD.ZG]                                          986 non-null    object
 17  GDP per capita (constant 2005 US$) [NY.GDP.PCAP.KD]                                986 non-null    float64
 18  GDP per capita, PPP (constant 2011 international $) [NY.GDP.PCAP.PP.KD]            986 non-null    float64
 19  GDP per person employed (constant 1990 PPP $) [SL.GDP.PCAP.EM.KD]                  986 non-null    float64
 20  GINI index (World Bank estimate) [SI.POV.GINI]                                     986 non-null    object
 21  Gross capital formation (% of GDP) [NE.GDI.TOTL.ZS]                                986 non-null    object
 22  Gross capital formation (annual % growth) [NE.GDI.TOTL.KD.ZG]                      986 non-null    object
 23  Gross fixed capital formation, private sector (% of GDP) [NE.GDI.FPRV.ZS]          986 non-null    object
 24  High-technology exports (% of manufactured exports) [TX.VAL.TECH.MF.ZS]            986 non-null    object
 25  ICT goods imports (% total goods imports) [TM.VAL.ICTG.ZS.UN]                      986 non-null    object
 26  Imports of goods and services (% of GDP) [NE.IMP.GNFS.ZS]                          986 non-null    object
 27  Industry, value added (% of GDP) [NV.IND.TOTL.ZS]                                  986 non-null    object
 28  Industry, value added (annual % growth) [NV.IND.TOTL.KD.ZG]                        986 non-null    object
 29  Industry, value added (constant 2005 US$) [NV.IND.TOTL.KD]                         986 non-null    object
 30  Inflation, consumer prices (annual %) [FP.CPI.TOTL.ZG]                             986 non-null    object
 31  International migrant stock (% of population) [SM.POP.TOTL.ZS]                     986 non-null    object
 32  Manufacturing, value added (% of GDP) [NV.IND.MANF.ZS]                             986 non-null    object
 33  Manufacturing, value added (annual % growth) [NV.IND.MANF.KD.ZG]                   986 non-null    object
 34  Manufacturing, value added (constant 2005 US$) [NV.IND.MANF.KD]                    986 non-null    object
 35  Personal remittances, paid (current US$) [BM.TRF.PWKR.CD.DT]                       986 non-null    object
 36  Personal transfers, receipts (BoP, current US$) [BX.TRF.PWKR.CD]                   986 non-null    object
 37  Population ages 0-14 (% of total) [SP.POP.0014.TO.ZS]                              986 non-null    float64
 38  Population ages 0-14, total [SP.POP.0014.TO]                                       986 non-null    float64
 39  Population ages 15-64 (% of total) [SP.POP.1564.TO.ZS]                             986 non-null    float64
 40  Population ages 15-64, total [SP.POP.1564.TO]                                      986 non-null    float64
 41  Population ages 65 and above (% of total) [SP.POP.65UP.TO.ZS]                      986 non-null    float64
 42  Population ages 65 and above, total [SP.POP.65UP.TO]                               986 non-null    float64
 43  Population density (people per sq. km of land area) [EN.POP.DNST]                  986 non-null    float64
 44  Population growth (annual %) [SP.POP.GROW]                                         986 non-null    float64
 45  Population, total [SP.POP.TOTL]                                                    986 non-null    float64
 46  Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population) [SI.POV.DDAY]  986 non-null    object
 47  Rural population [SP.RUR.TOTL]                                                     986 non-null    float64
 48  Rural population (% of total population) [SP.RUR.TOTL.ZS]                          986 non-null    float64
 49  Tax revenue (% of GDP) [GC.TAX.TOTL.GD.ZS]                                         986 non-null    object
 50  Urban population [SP.URB.TOTL]                                                     986 non-null    float64
 51  Urban population (% of total) [SP.URB.TOTL.IN.ZS]                                  986 non-null    float64
dtypes: float64(19), object(33)
memory usage: 400.7+ KB

In [32]:
# Convert number object to float
#df_raw.iloc[:, 5:108]=df_raw.iloc[:, 5:108].astype(float) 
econ_structure_df.iloc[:, 5:52]= (econ_structure_df.iloc[:, 5:52]).apply(pd.to_numeric, errors='coerce')


# Convert df["Time"] to datetime object
econ_structure_df["Time"] = pd.to_datetime(econ_structure_df["Time"].astype(str), format="%Y", errors='coerce')
econ_structure_df.head()

/var/folders/4c/r7kxsc7j67gd7wlqt50rmb100000gn/T/ipykernel_37610/393598615.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  econ_structure_df.iloc[:, 5:52]= (econ_structure_df.iloc[:, 5:52]).apply(pd.to_numeric, errors='coerce')

,Time,Time Code,Country Name,Country Code,Age dependency ratio (% of working-age population) [SP.POP.DPND],"Agriculture, value added (% of GDP) [NV.AGR.TOTL.ZS]","Agriculture, value added (annual % growth) [NV.AGR.TOTL.KD.ZG]","Agriculture, value added (constant 2005 US$) [NV.AGR.TOTL.KD]",Consumer price index (2010 = 100) [FP.CPI.TOTL],Export value index (2000 = 100) [TX.VAL.MRCH.XD.WD],...,"Population ages 65 and above, total [SP.POP.65UP.TO]",Population density (people per sq. km of land area) [EN.POP.DNST],Population growth (annual %) [SP.POP.GROW],"Population, total [SP.POP.TOTL]",Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population) [SI.POV.DDAY],Rural population [SP.RUR.TOTL],Rural population (% of total population) [SP.RUR.TOTL.ZS],Tax revenue (% of GDP) [GC.TAX.TOTL.GD.ZS],Urban population [SP.URB.TOTL],Urban population (% of total) [SP.URB.TOTL.IN.ZS]
0,2016-01-01,YR2016,Algeria,DZA,53.907887,12.295780,1.800000,1.961485e+10,134.844870,131.099918,...,2444823.0,17.048895,1.825463,40606052.0,NaN,11589373.0,28.541,NaN,29016679.0,71.459
1,2016-01-01,YR2016,Argentina,ARG,56.542246,6.353904,-4.538159,3.030671e+10,NaN,219.174671,...,4849887.0,16.022067,0.984742,43847430.0,0.6,3671345.0,8.373,12.155505,40176085.0,91.627
2,2016-01-01,YR2016,Australia,AUS,51.863048,2.430580,-6.390977,2.506167e+10,113.475546,299.281044,...,3692849.0,3.151505,1.498210,24210809.0,NaN,3437935.0,14.200,22.289293,20772874.0,85.800
3,2016-01-01,YR2016,Austria,AUT,49.529837,1.101589,2.661380,5.366899e+09,111.675470,225.350392,...,1662366.0,105.869491,1.081396,8736668.0,NaN,3677700.0,42.095,25.666572,5058968.0,57.905
4,2016-01-01,YR2016,Belgium,BEL,54.798394,0.617492,-9.094474,3.281172e+09,110.773882,211.795574,...,2081424.0,374.221334,0.506300,11331422.0,NaN,235807.0,2.081,23.136026,11095615.0,97.919

In [33]:
# Quick clean up of column name
econ_structure_df.columns = econ_structure_df.columns.str.split("[", n=1).str[0]

econ_structure_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 52 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   Time                                                                  986 non-null    datetime64[ns]
 1   Time Code                                                             986 non-null    object
 2   Country Name                                                          986 non-null    object
 3   Country Code                                                          986 non-null    object
 4   Age dependency ratio (% of working-age population)                    986 non-null    float64
 5   Agriculture, value added (% of GDP)                                   966 non-null    float64
 6   Agriculture, value added (annual % growth)                            954 non-null    float64
 7   Agriculture, value added (constant 2005 US$)                          959 non-null    float64
 8   Consumer price index (2010 = 100)                                     962 non-null    float64
 9   Export value index (2000 = 100)                                       986 non-null    float64
 10  Export volume index (2000 = 100)                                      986 non-null    float64
 11  Exports of goods and services (% of GDP)                              974 non-null    float64
 12  Exports of goods and services (annual % growth)                       924 non-null    float64
 13  Foreign direct investment, net inflows (% of GDP)                     980 non-null    float64
 14  Foreign direct investment, net outflows (% of GDP)                    947 non-null    float64
 15  Fuel exports (% of merchandise exports)                               962 non-null    float64
 16  GDP growth (annual %)                                                 985 non-null    float64
 17  GDP per capita (constant 2005 US$)                                    986 non-null    float64
 18  GDP per capita, PPP (constant 2011 international $)                   986 non-null    float64
 19  GDP per person employed (constant 1990 PPP $)                         986 non-null    float64
 20  GINI index (World Bank estimate)                                      455 non-null    float64
 21  Gross capital formation (% of GDP)                                    985 non-null    float64
 22  Gross capital formation (annual % growth)                             921 non-null    float64
 23  Gross fixed capital formation, private sector (% of GDP)              348 non-null    float64
 24  High-technology exports (% of manufactured exports)                   948 non-null    float64
 25  ICT goods imports (% total goods imports)                             943 non-null    float64
 26  Imports of goods and services (% of GDP)                              974 non-null    float64
 27  Industry, value added (% of GDP)                                      966 non-null    float64
 28  Industry, value added (annual % growth)                               954 non-null    float64
 29  Industry, value added (constant 2005 US$)                             959 non-null    float64
 30  Inflation, consumer prices (annual %)                                 974 non-null    float64
 31  International migrant stock (% of population)                         232 non-null    float64
 32  Manufacturing, value added (% of GDP)                                 950 non-null    float64
 33  Manufacturing, value added (annual % growth)                          916 non-null    float64
 34  Manufacturing, value added (constant 2005 US$)                        924 non-null    float64
 35  Personal remittances, paid (current US$)                              880 non-null    float64
 36  Personal transfers, receipts (BoP, current US$)                       634 non-null    float64
 37  Population ages 0-14 (% of total)                                     986 non-null    float64
 38  Population ages 0-14, total                                           986 non-null    float64
 39  Population ages 15-64 (% of total)                                    986 non-null    float64
 40  Population ages 15-64, total                                          986 non-null    float64
 41  Population ages 65 and above (% of total)                             986 non-null    float64
 42  Population ages 65 and above, total                                   986 non-null    float64
 43  Population density (people per sq. km of land area)                   986 non-null    float64
 44  Population growth (annual %)                                          986 non-null    float64
 45  Population, total                                                     986 non-null    float64
 46  Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population)   480 non-null    float64
 47  Rural population                                                      986 non-null    float64
 48  Rural population (% of total population)                              986 non-null    float64
 49  Tax revenue (% of GDP)                                                841 non-null    float64
 50  Urban population                                                      986 non-null    float64
 51  Urban population (% of total)                                         986 non-null    float64
dtypes: datetime64[ns](1), float64(48), object(3)
memory usage: 400.7+ KB

In [34]:
# Save df_male data into Clean_data_folder for easy access
# econ_structure_df.to_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Clean_data/Topic_data/econ_structure_df.csv', index= False)

### Human Capital Data

In [35]:
human_capital_df=pd.read_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Raw_data/Topic_raw_data/P_job_human_capital/human_capital.csv',
                            sep=",",
                            encoding='mac_roman'
                            )

human_capital_df= human_capital_df.iloc[0:986]
human_capital_df.tail(10)

,Time,Time Code,Country Name,Country Code,"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]","Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]",Individuals using the Internet (% of population) [IT.NET.USER.ZS],Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS],"Labor force with advanced education, female (% of female working-age population with advanced education) [SL.TLF.ADVN.FE.ZS]",...,"School enrollment, primary, male (% gross) [SE.PRM.ENRR.MA]","School enrollment, secondary (% gross) [SE.SEC.ENRR]","School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]","School enrollment, secondary, female (% gross) [SE.SEC.ENRR.FE]","School enrollment, secondary, male (% gross) [SE.SEC.ENRR.MA]","School enrollment, tertiary (% gross) [SE.TER.ENRR]","School enrollment, tertiary (gross), gender parity index (GPI) [SE.ENR.TERT.FM.ZS]","School enrollment, tertiary, female (% gross) [SE.TER.ENRR.FE]","School enrollment, tertiary, male (% gross) [SE.TER.ENRR.MA]",Technicians in R&D (per million people) [SP.POP.TECH.RD.P6]
976,2000,YR2000,Vietnam,VNM,28.6456,2.010,..,0.254248275754934,..,..,...,111.401313781738,..,..,..,..,9.41337966918945,0.72775000333786,7.91786003112793,10.8798599243164,..
977,2000,YR2000,"Hong Kong SAR, China",HKG,4.3656,1.032,..,27.8277606812581,..,..,...,..,..,..,..,..,..,..,..,..,202.55025
978,2000,YR2000,Kazakhstan,KAZ,34.3114,1.800,3.25661993026733,0.668594402621264,..,..,...,95.5643920898438,92.7226104736328,1.05411994457245,95.2188415527344,90.3304824829102,31.5952701568604,1.18884003162384,34.3606796264648,28.9027309417725,..
979,2000,YR2000,Morocco,MAR,35.2428,2.777,..,0.693791244805455,..,..,...,99.8074722290039,38.5552597045898,0.798789978027344,34.1853218078613,42.7965316772461,10.171480178833,0.731729984283447,8.59267044067383,11.7430095672607,..
980,2000,YR2000,Czech Republic,CZE,13.4416,1.150,3.65089011192322,9.78052788834393,74.2136001586914,81.2130966186523,...,103.553970336914,88.3145980834961,1.02120995521545,89.2647476196289,87.4107971191406,28.3488502502441,1.03717005252838,28.8780002593994,27.8431301116943,713.14361
981,2000,YR2000,Hungary,HUN,22.8472,1.320,4.85891008377075,6.99967635062916,74.274299621582,79.1568984985352,...,102.052932739258,96.1238784790039,1.00792002677917,96.5111999511719,95.7530364990234,35.9420585632324,1.22380995750427,39.6532516479492,32.4014701843262,505.27611
982,2000,YR2000,Portugal,PRT,20.2862,1.550,5.16176986694336,16.4304676923534,87.046501159668,88.3993988037109,...,125.004203796387,104.078659057617,1.06681001186371,107.516952514648,100.783699035645,47.6335792541504,1.3376499414444,54.627628326416,40.8383598327637,260.35842
983,2000,YR2000,Romania,ROU,38.6314,1.310,2.85442996025085,3.61371729139783,78.9537963867188,78.7720031738281,...,97.3503723144531,79.2709121704102,1.02421998977661,80.2428665161133,78.3454437255859,24.0269203186035,1.12727999687195,25.5001697540283,22.6209697723389,292.93019
984,2000,YR2000,South Africa,ZAF,73.8364,2.829,5.44358015060425,5.34855973203537,77.4056015014648,84.0161972045898,...,106.421051025391,82.5467910766602,1.10574996471405,86.7012634277344,78.4094467163086,..,..,..,..,..
985,2000,YR2000,"Egypt, Arab Rep.",EGY,54.3744,3.233,..,0.641265037504813,..,..,...,94.1654281616211,79.3397979736328,0.934729993343353,76.5978927612305,81.9466171264648,..,..,..,..,..

In [36]:
human_capital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 44 columns):
 #   Column                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                --------------  -----
 0   Time                                                                                                                                  986 non-null    object
 1   Time Code                                                                                                                             986 non-null    object
 2   Country Name                                                                                                                          986 non-null    object
 3   Country Code                                                                                                                          986 non-null    object
 4   Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]                                                           986 non-null    float64
 5   Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]                                                                             986 non-null    float64
 6   Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]                                                             986 non-null    object
 7   Individuals using the Internet (% of population) [IT.NET.USER.ZS]                                                                     986 non-null    object
 8   Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS]                      986 non-null    object
 9   Labor force with advanced education, female (% of female working-age population with advanced education) [SL.TLF.ADVN.FE.ZS]          986 non-null    object
 10  Labor force with advanced education, male (% of male working-age population with advanced education) [SL.TLF.ADVN.MA.ZS]              986 non-null    object
 11  Labor force with basic education (% of total working-age population with basic education) [SL.TLF.BASC.ZS]                            986 non-null    object
 12  Labor force with basic education, female (% of female working-age population with basic education) [SL.TLF.BASC.FE.ZS]                986 non-null    object
 13  Labor force with basic education, male (% of male working-age population with basic education) [SL.TLF.BASC.MA.ZS]                    986 non-null    object
 14  Labor force with intermediate education (% of total working-age population with intermediate education) [SL.TLF.INTM.ZS]              986 non-null    object
 15  Labor force with intermediate education, female (% of female working-age population with intermediate education) [SL.TLF.INTM.FE.ZS]  986 non-null    object
 16  Labor force with intermediate education, male (% of male working-age population with intermediate education) [SL.TLF.INTM.MA.ZS]      986 non-null    object
 17  Life expectancy at birth, female (years) [SP.DYN.LE00.FE.IN]                                                                          986 non-null    float64
 18  Life expectancy at birth, male (years) [SP.DYN.LE00.MA.IN]                                                                            986 non-null    float64
 19  Lifetime risk of maternal death (%) [SH.MMR.RISK.ZS]                                                                                  986 non-null    object
 20  Literacy rate, adult female (% of females ages 15 and above) [SE.ADT.LITR.FE.ZS]                                                      986 non-null    object
 21  Literacy rate, adult male (% of males ages 15 and above) [SE.ADT.LITR.MA.ZS]                                                          986 non-null    object
 22  Literacy rate, adult total (% of people ages 15 and above) [SE.ADT.LITR.ZS]                                                           986 non-null    object
 23  Literacy rate, youth female (% of females ages 15-24) [SE.ADT.1524.LT.FE.ZS]                                                          986 non-null    object
 24  Literacy rate, youth male (% of males ages 15-24) [SE.ADT.1524.LT.MA.ZS]                                                              986 non-null    object
 25  Literacy rate, youth total (% of people ages 15-24) [SE.ADT.1524.LT.ZS]                                                               986 non-null    object
 26  Prevalence of HIV, total (% of population ages 15-49) [SH.DYN.AIDS.ZS]                                                                986 non-null    object
 27  Primary completion rate, female (% of relevant age group) [SE.PRM.CMPT.FE.ZS]                                                         986 non-null    object
 28  Primary completion rate, male (% of relevant age group) [SE.PRM.CMPT.MA.ZS]                                                           986 non-null    object
 29  Primary completion rate, total (% of relevant age group) [SE.PRM.CMPT.ZS]                                                             986 non-null    object
 30  Research and development expenditure (% of GDP) [GB.XPD.RSDV.GD.ZS]                                                                   986 non-null    object
 31  Researchers in R&D (per million people) [SP.POP.SCIE.RD.P6]                                                                           986 non-null    object
 32  School enrollment, primary (% gross) [SE.PRM.ENRR]                                                                                    986 non-null    object
 33  School enrollment, primary, female (% gross) [SE.PRM.ENRR.FE]                                                                         986 non-null    object
 34  School enrollment, primary, male (% gross) [SE.PRM.ENRR.MA]                                                                           986 non-null    object
 35  School enrollment, secondary (% gross) [SE.SEC.ENRR]                                                                                  986 non-null    object
 36  School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]                                                   986 non-null    object
 37  School enrollment, secondary, female (% gross) [SE.SEC.ENRR.FE]                                                                       986 non-null    object
 38  School enrollment, secondary, male (% gross) [SE.SEC.ENRR.MA]                                                                         986 non-null    object
 39  School enrollment, tertiary (% gross) [SE.TER.ENRR]                                                                                   986 non-null    object
 40  School enrollment, tertiary (gross), gender parity index (GPI) [SE.ENR.TERT.FM.ZS]                                                    986 non-null    object
 41  School enrollment, tertiary, female (% gross) [SE.TER.ENRR.FE]                                                                        986 non-null    object
 42  School enrollment, tertiary, male (% gross) [SE.TER.ENRR.MA]                                                                          986 non-null    object
 43  Technicians in R&D (per million people) [SP.POP.TECH.RD.P6]                                                                           986 non-null    object
dtypes: float64(4), object(40)
memory usage: 339.1+ KB

In [37]:
# Convert number object to float
#df_raw.iloc[:, 5:108]=df_raw.iloc[:, 5:108].astype(float) 
human_capital_df.iloc[:, 5:44]= (human_capital_df.iloc[:, 5:44]).apply(pd.to_numeric, errors='coerce')


# Convert df["Time"] to datetime object
human_capital_df["Time"] = pd.to_datetime(human_capital_df["Time"].astype(str), format="%Y", errors='coerce')
human_capital_df.head()

/var/folders/4c/r7kxsc7j67gd7wlqt50rmb100000gn/T/ipykernel_37610/349173202.py:3: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  human_capital_df.iloc[:, 5:44]= (human_capital_df.iloc[:, 5:44]).apply(pd.to_numeric, errors='coerce')

,Time,Time Code,Country Name,Country Code,"Adolescent fertility rate (births per 1,000 women ages 15-19) [SP.ADO.TFRT]","Fertility rate, total (births per woman) [SP.DYN.TFRT.IN]","Government expenditure on education, total (% of GDP) [SE.XPD.TOTL.GD.ZS]",Individuals using the Internet (% of population) [IT.NET.USER.ZS],Labor force with advanced education (% of total working-age population with advanced education) [SL.TLF.ADVN.ZS],"Labor force with advanced education, female (% of female working-age population with advanced education) [SL.TLF.ADVN.FE.ZS]",...,"School enrollment, primary, male (% gross) [SE.PRM.ENRR.MA]","School enrollment, secondary (% gross) [SE.SEC.ENRR]","School enrollment, secondary (gross), gender parity index (GPI) [SE.ENR.SECO.FM.ZS]","School enrollment, secondary, female (% gross) [SE.SEC.ENRR.FE]","School enrollment, secondary, male (% gross) [SE.SEC.ENRR.MA]","School enrollment, tertiary (% gross) [SE.TER.ENRR]","School enrollment, tertiary (gross), gender parity index (GPI) [SE.ENR.TERT.FM.ZS]","School enrollment, tertiary, female (% gross) [SE.TER.ENRR.FE]","School enrollment, tertiary, male (% gross) [SE.TER.ENRR.MA]",Technicians in R&D (per million people) [SP.POP.TECH.RD.P6]
0,2016-01-01,YR2016,Algeria,DZA,10.4216,2.776,NaN,42.945527,NaN,NaN,...,116.564438,NaN,NaN,NaN,NaN,42.663689,1.67123,53.622421,32.085690,NaN
1,2016-01-01,YR2016,Argentina,ARG,63.0272,2.293,NaN,70.968981,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,YR2016,Australia,AUS,13.2818,1.809,NaN,88.238658,NaN,NaN,...,101.361679,153.848267,0.86726,142.655777,164.489716,121.859009,1.43009,144.099289,100.762253,NaN
3,2016-01-01,YR2016,Austria,AUT,7.2080,1.490,NaN,84.323331,77.862602,76.001900,...,102.517792,100.963020,0.96121,98.917412,102.909523,83.455276,1.18811,90.825890,76.445869,NaN
4,2016-01-01,YR2016,Belgium,BEL,5.1082,1.700,NaN,86.516500,75.023300,74.894798,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# Quick clean up of column name
human_capital_df.columns = human_capital_df.columns.str.split("[", n=1).str[0]

human_capital_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 44 columns):
 #   Column                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                             --------------  -----
 0   Time                                                                                                               986 non-null    datetime64[ns]
 1   Time Code                                                                                                          986 non-null    object
 2   Country Name                                                                                                       986 non-null    object
 3   Country Code                                                                                                       986 non-null    object
 4   Adolescent fertility rate (births per 1,000 women ages 15-19)                                                      986 non-null    float64
 5   Fertility rate, total (births per woman)                                                                           986 non-null    float64
 6   Government expenditure on education, total (% of GDP)                                                              670 non-null    float64
 7   Individuals using the Internet (% of population)                                                                   981 non-null    float64
 8   Labor force with advanced education (% of total working-age population with advanced education)                    573 non-null    float64
 9   Labor force with advanced education, female (% of female working-age population with advanced education)           573 non-null    float64
 10  Labor force with advanced education, male (% of male working-age population with advanced education)               573 non-null    float64
 11  Labor force with basic education (% of total working-age population with basic education)                          570 non-null    float64
 12  Labor force with basic education, female (% of female working-age population with basic education)                 570 non-null    float64
 13  Labor force with basic education, male (% of male working-age population with basic education)                     570 non-null    float64
 14  Labor force with intermediate education (% of total working-age population with intermediate education)            571 non-null    float64
 15  Labor force with intermediate education, female (% of female working-age population with intermediate education)   571 non-null    float64
 16  Labor force with intermediate education, male (% of male working-age population with intermediate education)       571 non-null    float64
 17  Life expectancy at birth, female (years)                                                                           986 non-null    float64
 18  Life expectancy at birth, male (years)                                                                             986 non-null    float64
 19  Lifetime risk of maternal death (%)                                                                                912 non-null    float64
 20  Literacy rate, adult female (% of females ages 15 and above)                                                       179 non-null    float64
 21  Literacy rate, adult male (% of males ages 15 and above)                                                           179 non-null    float64
 22  Literacy rate, adult total (% of people ages 15 and above)                                                         179 non-null    float64
 23  Literacy rate, youth female (% of females ages 15-24)                                                              179 non-null    float64
 24  Literacy rate, youth male (% of males ages 15-24)                                                                  179 non-null    float64
 25  Literacy rate, youth total (% of people ages 15-24)                                                                179 non-null    float64
 26  Prevalence of HIV, total (% of population ages 15-49)                                                              714 non-null    float64
 27  Primary completion rate, female (% of relevant age group)                                                          570 non-null    float64
 28  Primary completion rate, male (% of relevant age group)                                                            570 non-null    float64
 29  Primary completion rate, total (% of relevant age group)                                                           597 non-null    float64
 30  Research and development expenditure (% of GDP)                                                                    714 non-null    float64
 31  Researchers in R&D (per million people)                                                                            617 non-null    float64
 32  School enrollment, primary (% gross)                                                                               873 non-null    float64
 33  School enrollment, primary, female (% gross)                                                                       871 non-null    float64
 34  School enrollment, primary, male (% gross)                                                                         871 non-null    float64
 35  School enrollment, secondary (% gross)                                                                             799 non-null    float64
 36  School enrollment, secondary (gross), gender parity index (GPI)                                                    789 non-null    float64
 37  School enrollment, secondary, female (% gross)                                                                     789 non-null    float64
 38  School enrollment, secondary, male (% gross)                                                                       789 non-null    float64
 39  School enrollment, tertiary (% gross)                                                                              748 non-null    float64
 40  School enrollment, tertiary (gross), gender parity index (GPI)                                                     729 non-null    float64
 41  School enrollment, tertiary, female (% gross)                                                                      729 non-null    float64
 42  School enrollment, tertiary, male (% gross)                                                                        729 non-null    float64
 43  Technicians in R&D (per million people)                                                                            457 non-null    float64
dtypes: datetime64[ns](1), float64(40), object(3)
memory usage: 339.1+ KB

In [39]:
# Save df_male data into Clean_data_folder for easy access
# human_capital_df.to_csv(r'/Users/tinapham/Desktop/lighthouse-data-notes/ProJect/LHL_Midterm_Project/Data/Clean_data/Topic_data/human_capital_df.csv', index= False)